[2022-01-01 15:37] Reckless-Satoshi opened #1 "Init Django project"
**The repository contains an idea. Now it needs to have code. Set up an initial Django backend.**

**Why Python for backend?**

Initial development team is better at python.

**Why Django over Flask?**

Flask suits best since Django is too dependency-heavy for a small and privacy focused project. However, initial development team lacks resources and the shortest path to MVP relies on Django. Once

[2022-01-01 18:59] #1 closed, assigned to Reckless-Satoshi

[2022-01-01 19:03] Reckless-Satoshi opened #3 "Add an API endpoint to make orders"
- [x] Configure the Django project,
- [x] Add an API app
- [x] Create the "Order" model
- [x] Create a view to handle POST calls.

[2022-01-01 22:44] #3 closed, assigned to nobody

[2022-01-01 22:52] Reckless-Satoshi opened #5 "Initialize frontend and create first pages"
Given that we have the first end point ('api/make') to POST new orders. We could jump into creating a tiny bit of the front-end and lay down the page structures.

- [x] Initialize a React frontend
- [x] Document process for contributors
- [x] Create components structures
- [x] Create index template
- [x] Create routing on HomePage and redirect urls correctly
- [x] Implement the frontend page for t

[2022-01-02 00:46] #5 closed, assigned to Reckless-Satoshi

[2022-01-02 00:53] Reckless-Satoshi opened #7 "Load currency dictionary from .json into both: backend model and frontend form."
List of available currencies are a hack at the moment.

Would be great if the list of currencies could live in the static folder as a .json and be read from there by both:
-  The choices field of the Order model
https://github.com/Reckless-Satoshi/robosats/blob/9335e6abbe797e4fb281d7280da3a7114c7ef03b/api/models.py#L18-L21
- The Select form in the front en MakerPage
https://github.com/Reckless-Sat

[2022-01-02 09:00] Reckless-Satoshi opened #8 "Load all important application hparams from .env file on root dir"
There are many hyperparameters that could be centralized into an `.env` in the root directory to ease the application managing
For example, limits for trade size could be imported from `.env`
https://github.com/Reckless-Satoshi/robosats/blob/9335e6abbe797e4fb281d7280da3a7114c7ef03b/api/models.py#L9-L10

- [ ] Create an .`env-sample` file on root directory  (e.g. `MIN_TRADE_LIMIT`, `LND_CERT`, `LND

[2022-01-02 09:12] Reckless-Satoshi opened #9 "Create OrderPage.js and set up API endpoint"
A component that will show the order details when queried with an order ID. This is the one that should show when clicking on a order from the order book. Could also be added to the waiting room.

[2022-01-02 09:16] Reckless-Satoshi opened #10 "Add field "payment_method" to Order model and front end form"
Just realized the _payment method_ field is missing from the current` /Make/ ` endpoint.

[2022-01-02 09:41] #10 closed, assigned to Reckless-Satoshi

[2022-01-02 13:41] #9 closed, assigned to nobody

[2022-01-02 14:37] Reckless-Satoshi opened #13 "Create user generator backend and frontend landing page"
## Create user generator page that will act as landing page.
In the first visit, the front end generates a high-entropy token, the backend replies with new user credentials a Nickname and a RoboHash avatar.

The user can either accept the given "Robosat" avatar (button `It's cool!`), generate a new one (button `Nah, give me another`, or log into existing one (button `I have my own`). `It's cool` t

[2022-01-02 19:09] Reckless-Satoshi opened #14 "Create a general app status information endpoint and react component to place in the bottom"
Just a GET method that returns some basic data ( number of buy and sell order, etc) to display on the bottom left of the app under homepage. The component could refresh every X seconds.

[2022-01-03 09:10] #13 closed, assigned to Reckless-Satoshi

[2022-01-03 12:20] Reckless-Satoshi opened #17 "Send correct status message when OrderView is called"
The Status choices are named WFB, PUB, etc. However, these encode for a order status number (0,1,2..) and a status message ('Waiting for bond', 'Published'...). Frontend should receive the message in the reply, not only the number.
Fix goes around here:
https://github.com/Reckless-Satoshi/robosats/blob/a61eb217b537aa0c068ecbfc90a1cf1d3ff672e2/api/views.py#L82-L83

[2022-01-03 12:29] Reckless-Satoshi opened #18 "Create Get OrderBook API call and simple front end with cards"
A simple order maker page is up and working. Now the second part, an order book page is needed (for takers)

- [ ] API view with GET method that returns all orders. Filters by "Currency" and by "Type" (Buy or Sell).
- [ ] Set up BookOrder React Component with cards in 2 columns.

[2022-01-07 11:45] #18 closed, assigned to Reckless-Satoshi

[2022-01-07 11:45] #8 closed, assigned to nobody

[2022-01-07 11:45] #17 closed, assigned to nobody

[2022-01-07 11:47] Reckless-Satoshi opened #21 "Order Book is by default set to any type (buy or sell) and any currency"
This feature will help to avoid opening an empty order book at page load

[2022-01-07 11:49] Reckless-Satoshi opened #22 "If user is logged in and is taker or maker, always redirect to Order page"
We want to streamline the experience to the max. So no possible error, if your user has an ongoing order, user can only see the order page unless ; logs out, order is cancelled, order expires.

[2022-01-07 11:51] Reckless-Satoshi opened #23 "Make navigation trough Order Book and user gen functions sequential"
Javascript is tricky. These functions are not running sequentially at the moment, so the requests are always done with past information. Should be an easy fix for anyone who has dealt with JS previously.

[2022-01-07 11:52] Reckless-Satoshi opened #24 "Lightning functionality; calls to LND RPC and logic updates as invoices are locked and validated."
Probably a big step, but the last part to have a minimum viable product.

[2022-01-10 18:53] #23 closed

[2022-01-10 18:53] #7 closed

[2022-01-10 18:54] #21 closed, assigned to nobody

[2022-01-10 19:05] Reckless-Satoshi opened #27 "Dynamic countdown timer and progressbar (expiration bar)"
In the` /order` page would be great if the time to expiration is dynamic (moves every second) and the expiration bar is linked (100% is total time to expiration, X% is actual time left to expire).

Bonus points if the expiration bar color changes to yellow at 20%-10% and to red below 10%

[2022-01-13 09:34] #24 closed, assigned to nobody

[2022-01-14 21:57] #27 closed, assigned to nobody

[2022-01-14 21:58] #14 closed, assigned to nobody

[2022-01-15 10:37] Reckless-Satoshi opened #30 "'Ring' sound for makers when a taker is found."
Makers will sometimes have a long wait. This is in fact, a point of exit for new users. It would be great if the browser could "ring" when the taker is found, same as mempool.space rings when your transaction is confirmed.

[2022-01-15 10:53] Reckless-Satoshi opened #31 "Show small hints and description on mouse hover"
For example hovering "Premium" gives you a small explanation of what it means. Useful for all the items in the form of the MakerPage.
In addition, there could be a on-by-default hint box over the Token TextField that reminds users to back it up.

[2022-01-15 10:56] Reckless-Satoshi opened #32 "Keep user nickname, avatar and token on sight always"
It could be placed on the top right. It could show user nickname and avatar (after the user-generator page they get out of sight and might be that the user did not write them down).
There could be an option to "show token" and the user token be shown again, however that would involve some sort of client-side storage for the token.

[2022-01-15 13:31] Reckless-Satoshi opened #33 "Improve chat to facilitate dispute solving"
The current chat _works_ . That's about it. It is a simple websocket that replies to everyone in the chatroom.

**Issues:**

- There is no message logging (if the user refreshes, messages are gone).
- There are no restrictions to enter the room for users not participating in the order.
- It is not end-to-end encrypted.

The first issue makes it very difficult for staff to resolve disputes. The sec

[2022-01-15 13:46] Reckless-Satoshi opened #34 "Translate REST API trading pipeline to Websocket."
Current setup relies on OrderPage sending requests for update refreshes. It works, yet, it might get heavy on the server side over time, while it might also not feel snappy enough on the client side.

Converting the OrderPage into a bidirectional communication would be great; but also a big task. This feature would certainly break stuff that works at the moment.

This feature will eventually be ve

[2022-01-15 13:50] Reckless-Satoshi opened #35 "Multilanguage Support"
Make RoboSats available in more than just English.

[2022-01-19 20:03] Reckless-Satoshi opened #37 "Make the frontend pretty."
The frontend is currently vanilla Material UI V5 with no theme whatsoever.

It is composed only by a few elements and users can only see 4 pages: home/user-generator, order maker, order book, order/contract box. It is in addition, the first time a write a frontend, so there is a lot that could be improved about style!

I know for a fact there is quite some artists out there :D Bring it on! Propose

[2022-01-27 18:34] Reckless-Satoshi opened #38 "A privacy friendly referral program."
Eventually the usefulness of RoboSats will boil down to how much liquidity is in the book.

In order to increase liquidity organically (i.e., make the platform more popular) one could think of a referral program; that is, a user is rewarded for recommending the platform to other potential users. However, implementing a referral program is extremely difficult while 1) avoiding users to spy on each

[2022-01-30 18:49] Reckless-Satoshi opened #39 "Reputation based trust model vs privacy"
Most p2p exchanges rely on reputation models. After a trade finishes users can rate each other. Over time, users can build a profile with good reputation facilitating trust.

The reputation based model, while successful in practice, has a clear **disadvantage regarding privacy: it incentivizes identity reuse**.

One of the **core ideas in RoboSats is to avoid identity reuse**. This is achieved by

[2022-01-31 13:04] Reckless-Satoshi opened #40 "Consecutive failed routing retries (LND's mission control does not actually retry)"
When a payout invoice fails routing, it is likely it will keep failing the next retries. However, if one runs resets the mission control of LND `lncli resetmc` the payment might actually be successful.

LND avoids routes that it knows are out of liquidity due to previous failures, saving time and resources the next time it tries to send a payment. However, this might be counterproductive in a sett

[2022-01-31 15:41] #22 closed

[2022-01-31 15:52] #30 closed

[2022-01-31 15:52] #32 closed

[2022-01-31 16:58] Reckless-Satoshi opened #41 "Sound notifications blocked by mobile Tor browser"
First sound notification in mobile Tor browser raises an alert for potentially dangerous code execution. Once the user allows it, the sound notifications work as expected.

There might be no way around this. However, this is rather a minor issue: it is up to the users to allow sound notifications if they desire. Sound notifications are not critical for the trading pipeline.

[2022-02-01 15:03] Reckless-Satoshi opened #42 "Android/iOS app. Torified webview in react-native."
It might be a low hanging fruit to create a tiny react-native webview app wrapping the current webapp. It might also be possible to use react-native-tor https://github.com/Sifir-io/react-native-tor, so the user does not need TOR Browser nor Orbot, but only the .apk.

This could be a good start towards something more versatile and smartphone friendly.

[2022-02-13 09:32] Reckless-Satoshi opened #44 "Wallet compatibility"
Lightning hold invoices are _weird_ . They are not used often and little focus is put on them by lightning wallet developers. In this issue I will be collecting some data while I test different wallets. Eventually info here might become a `/doc/`.

### Background
In plain words, hold invoices are lightning payments that _do not quite arrive_. Wallets are blind to what is actually happening at the

[2022-02-16 00:48] Reckless-Satoshi commented on #31
Mostly implemented in the latest PRs. Some more tips could still be added in the Order and Contract boxes.

[2022-02-18 20:17] Reckless-Satoshi opened #48 "Notify makers when an order is taken (even if they left the site)"
Once an order is published in the order book it remains visible for 6 hours. A taker might be found right away or might take hours. Currently makers need to keep a browser tab open, once the taker is found the browser plays a tone. This works well on desktop, specially if you were planning to leave it on anyway. However, it is really difficult to be a maker in the mobile browser (screen turns off

[2022-02-19 16:32] Reckless-Satoshi opened #49 "High sensitivity to client's clock"
A user's clock that is a few minutes behind or ahead of server time can lead to bad UX. 1) Expiry counters does not match real expiry time. 2) LN invoices for bonds that are "already expired" when they are actually not.

### Fix
**UI:** the frontend uses the client's clock to compute time left to expiry. This is an easy fix as the difference between current time and expiry time (`expiry_diff`) can

[2022-02-19 17:53] Reckless-Satoshi opened #50 "Slow payment methods vs CLTV expiry and channels force closure"
In the initial days of operation of RoboSats several orders have been placed with payment method "cash by mail". This is indeed a very good privacy preserving payment method. However, the platform is designed with instant payment methods in mind, and the time to expiry of the fiat exchange step is only 4 hours. That is rarely enough for ordinary mail to arrive :)

It is however, possible to create

[2022-02-20 01:41] Reckless-Satoshi commented on #48
After a closer look the telegram notifications might be the easiest/safest to implement, while not really that damaging to privacy. Deep linking can be used to facilitate Robot <-> Telegram client link, avoiding the need for a verification step in chat with the telegram bot.

I am assigning myself, hopefully it is ready in a couple of days.

[2022-02-20 18:59] Reckless-Satoshi opened #52 "Advanced options for makers"
The maker page is simple, yet it should be sufficient for most casual users. However, some advanced options can be added in an "Advanced Options" tab. These are mostly directed to fulfill the needs of larger liquidity providers and advanced users.

### Possible advanced options
- **Set public expiry time.** A datetime input to explicitly specify the time of expiry of a public order. This input wil

[2022-02-22 12:05] Reckless-Satoshi commented on #48
The last pull request merged introduced a messaging system using Telegram. Only two messages were created, and these are only for makers: 1) "Hi {name} I will let you know when someone takes order {order_id}" 2) "Your order was taken by {taker_nick}, visit {url+order_id} to continue".

When linking Telegram with RoboSats users are exposing their username. RoboSats DOES NOT store the TG usernames,

[2022-02-26 11:11] Reckless-Satoshi opened #55 "Introduce RoboSats to r/Bitcoin"
Hey everyone.

As discussed in the community groups, we are planning to openly launch RoboSats to the public by writing a note in r/Bitcoin. That subrredit is a zoo :). But it also probably concentrates the biggest amount of people interested in privately buying/selling BTC, many of which might find intimidating the alternatives (Bisq, hodl-hodl, etc). So hopefully our post in Reddit adds value.

[2022-02-27 20:12] Reckless-Satoshi commented on #55
Thanks to everyone who gave ideas and did proofreading. Special thanks to @LowEntropyFace @DecentralizedDB for the contributions.

The Reddit release not is up in https://www.reddit.com/r/Bitcoin/comments/t2v44r/everyone_says_we_need_easy_and_cheap_markets_for/

If nothing comes up this issue will be closed in a couple of days.

[2022-02-28 15:27] #55 closed

[2022-02-28 19:54] zehks commented on #44
LnTxBot tested on BUYING successfully.

The hold invoice is shown as a pending payment and shows a user-friendly text.

The TX details is shown as:

If the invoice expires then it shows a failed payment message. It also shows a failed payment when it unfreezes at trade completion.

[2022-03-01 14:41] Reckless-Satoshi opened #56 "Implement full trustless escrow approach as in "hodlcontracts" for maker-buyers"
_In order to understand this feature request you must first understand well the work done by @supertestnet  in https://github.com/supertestnet/hodlcontracts_

### Background
It's becoming apparent that the current approach for fidelity bond / escrow with hodl invoices works very nicely in practice. Yet, one can argue the balance of power in this tri-partite relation is heavier in the service provi

[2022-03-01 14:51] Kerbotanist commented on #39
So, let's say there were two layers, and one is is something like a RoboSatsTrustLedger value or score.

That is to say, a user could hold a persistent, but secret, ID, entitling them to generate new anonymous RoboSats ID's with a corresponding 'transactions satisfactorily completed' number, for example.

[2022-03-01 15:25] supertestnet commented on #56
Thanks and congratulations on your launch!

Regarding the lightning escrow api, currently I am revising the api so that our server expects json encoded key/value pairs. Right now it expects html form encoding on most pages.

This revision is also an occasion for me to document the code and add support for long-duration api keys rather than 2 week long session keys, which is what I've been using up

[2022-03-01 15:46] joediggs111 opened #57 "Feature Request: Remove ajax.googleapis.com scripts from the app"
**Is your feature request related to a problem? Please describe.**
Yes.  Your deployed code at the onion page does not load unless I run javascript from https://ajax.googleapis.com.  This obviously is a very major trust, security, usability, and privacy problem.

**Describe the solution you'd like**
Write your own javascript functions or pull someone else's equivalent code from your own forked rep

[2022-03-01 18:12] Reckless-Satoshi commented on #57
Hey @joediggs111, thanks a lot for opening this issue.

This mishap (let's call for what it is) totally derives from my newbie status in the world of frontend development and lack of understanding of alternatives. Indeed, this library also bothered me since the first encounter as I saw how unavoidable this library is in absolutely any tutorial I followed while learning. I never remembered to look

[2022-03-01 19:04] Reckless-Satoshi commented on #57
Okay. Last commit (hot fix) on the feature branch where I am currently working drops all external (google) dependencies, that is this library and the Roboto fonts. The site looks slightly different now (irrelevant).

See https://github.com/Reckless-Satoshi/robosats/pull/54/commits/c3f37b4f33a488df769dd3264e9bcd57aa02983c

Won't be upgrading the mainnet platform to this commit height until I fully

[2022-03-01 21:02] Reckless-Satoshi commented on #57
Fix running on the mainnet platform. Roboto fonts are now also served by the backend https://github.com/Reckless-Satoshi/robosats/pull/54/commits/e6600063ab1b28e6b1541f85b70faa56673fca4e

Overall a large increase in the number of requests that have to be served by the backend. Not a big issue as the platform is operating at a small scale at the moment.

[2022-03-01 21:04] Reckless-Satoshi commented on #57
Closing this issue. After the fact, this was not that much of a difficulty fix nor it was a threat.

[2022-03-01 21:04] Reckless-Satoshi commented on #57
After the fact, this was not that much of a difficulty fix nor it was a threat.

Closing this issue.

[2022-03-01 21:04] #57 closed

[2022-03-02 00:03] chimp1984 commented on #39
Interesting discussion!

I think one need to consider the context of the whole system. A Fiat exchange inherits the terribly bad privacy from bank transfers (if not using face to face trades). As one can never know if the counterparty is not collecting/leaking your data the foundation for privacy is already pretty bad. To try to build super sophisticated privacy on an already broken base foundatio

[2022-03-02 02:22] Kerbotanist commented on #39
Okay right, what was trying to say was: what is a practical way to implement a reputation system that does not violate privacy? What came to mind is like a one-way function where successful trades accrue a reputation score to a user's account, but that account is secret. However, the score can be expressed when creating new anonymous accounts. Sort of like digital signing. The existence of the rep

[2022-03-02 14:12] Reckless-Satoshi opened #60 "A tutorial explicitly made for OpenKeychain+RoboSats (/docs/)"
As raised in the community groups, users should not trust the chat is not logged or encrypted (in fact, it is not in v0.1.0). It is best to PGP encrypt the sensitive information.

It would be ideal to create a straightforward and concise tutorial on how to use OpenKeychain with RoboSats. Would be great if it includes a complete use case: pubkey generation, key exchange in robosats' chat, and encry

[2022-03-03 22:34] kaloudis commented on #44
Maintainer from Zeus here. We'll be adding support for hold invoices soon. You can track progress here: https://github.com/ZeusLN/zeus/issues/865

[2022-03-04 15:17] GianfrancoBazzani commented on #60
I'm going to create  the guide file in [docs](https://github.com/Reckless-Satoshi/robosats/tree/main/docs) folder. The format of the guide will be Markdown.

[2022-03-05 10:12] #48 closed

[2022-03-05 10:22] Reckless-Satoshi commented on #33
As suggested by  @SpicyHotWings we could implement matrix protocol for the chat ( https://matrix.org/ )
It is unclear whether this could be seamlessly implemented (i.e, without requiring users to create a new authentication for the chat but at the same time without Robosats having access to their credentials).

[2022-03-05 10:31] Reckless-Satoshi commented on #38
**It is clear a method for organic growth is needed**. Referrals are the most appropriated ones. I will be working on implementing a referral program starting today.

- [ ] Profile pop up shows: your robot's referral link and rewards accumulated
- [ ] Tapping on rewards allow you to submit a LN invoice to withdraw them.
- [ ] A new user landing in the homepage from a referral link will create a ro

[2022-03-06 08:47] supertestnet commented on #56
The api for lightning escrow has been documented:

https://github.com/supertestnet/lightningescrow.io/blob/main/README.md

I am happy to help you implement support for the api if you want help in that regard. Please reach out if you have any questions. We use different terminology regarding who is "buyer" and who is "seller" -- I always assume the person "selling" something is the one getting the

[2022-03-06 14:49] cointastical opened #64 "Suggestion: Publish README.md using Github Pages (i.e., Github.io )"
If the project was published to Github Pages, then there would be a nice clean URL for the README.md:

The URL to show the README.md would be:
https://Reckless-Satoshi.github.io/robosats

Which is easier to share on social media and such.

[2022-03-06 15:29] cointastical opened #65 "Javascript error in Copy of Clipboard from Contract Box"
In trying to pay the committment trx to PUBLISH my order, when I see the Contract Box, with the QR code, I then tried to press Copy To Clipboard

Expected behavior:
That the LN Invoice would be copied to my clipboard

Actual behavior:
No change to my clipboard.

In showing the Javascript console, I see:

    react-dom.production.min.js:101 Uncaught TypeError: Cannot read properties of undefined

[2022-03-06 15:31] cointastical commented on #65
This is occurring using Brave Browser
[Version 1.36.109 Chromium: 99.0.4844.51 (Official Build) (64-bit)](https://brave.com/latest/)

[2022-03-06 16:08] cointastical opened #66 "For @RoboSatsBot, Brave blocks Telegram links"
After paying the commitment transaction to PUBLISH, I was given the option to ENABLE TELEGRAM NOTIFICATIONS

Clicking that, I see:

    Enable TG Notifications
    You will be taken to a conversation with RoboSats telegram bot. Simply open the chat and press "Start". Note that by enabling telegram notifications you might lower your level of anonimity.

I clicked Enable.

Expected result:
A new bro

[2022-03-06 16:12] cointastical commented on #66
This is on Brave Browser:
[Version 1.36.109 Chromium: 99.0.4844.51 (Official Build) (64-bit)]

To resolve, changing the message:
 Simply open the chat and press "Start".
to also describe how to manually enable Telegram notifications is to
DM @RoboSatsBot, press the /Start and then paste "start=[identifier]"
(or whatever the correct procedure is to manually set this up.)

[2022-03-06 16:54] Reckless-Satoshi commented on #66
Hey @cointastical ,

Indeed, there is quite a few functionalities that do not seem to work in Brave with TOR. Opening apps (such as telegram) or copying to clipboard seems to be artificially disabled.

I believe these are security features of Brave when Private mode with TOR is enabled (in the local development environment, when Brave without TOR can be used, both Telegram and copying to clipboard

[2022-03-06 17:00] Reckless-Satoshi commented on #65
Hey @cointastical ,

Thanks for opening this issue.

The clipboard not working issue only happens in Brave's "Private window with Tor". Seems like some functions are disabled in Brave with Tor, probably this is a Brave privacy protecting feature and there does not seem to be many ways around it. I have not found any related discussion online about this issue with Brave.

Any other torified browser

[2022-03-06 17:03] Reckless-Satoshi commented on #64
It is a great idea.
In fact, ideally all of the `/docs/` (including the `README.md`) should become a markdown site hosted as a Github Page.

[2022-03-06 17:09] Reckless-Satoshi commented on #56
Thanks a lot @supertestnet !

Indeed, I noticed our buyer/seller terminology is inverted. It would be amazing to have some support to implement the API on the backend of RoboSats. I could add it as a simple option in the "Advanced options for makers" https://github.com/Reckless-Satoshi/robosats/issues/52

I am still hesitant over that one case where the buyer (RoboSat's BTC seller) opens a dispute

[2022-03-06 20:59] supertestnet commented on #56
You're welcome :)

That sounds good, what do you think is the best way to work together on this? I am open to doing a zoom call to go over the best place to start. I am thinking it would be best if the frontend checked whether something like "use lightning escrow" was checked in settings, and if so, call the lightning escrow api. MakerPage.js and TradeBox.js look like the best places to go to town

[2022-03-07 11:05] dbolser commented on #37
I like it currently. Please can you make this ticket 'SMART' by providing a clear definition of what a pretty interface looks like?

[2022-03-07 11:06] dbolser commented on #35
Does the code currently support i18n? e.g. is this just an issue of finding translations? Or does the i18n work need to be done on the code?

[2022-03-07 11:07] dbolser commented on #31
Please list the items where tips are missing

[2022-03-07 11:12] dbolser opened #68 "Implement cookies tied to a browser window?"
For privacy, you use one avatar per order.

This prevents people monitoring the site learning about your payment methods, locations, bitcoin holding etc.

To allow arbitrage, you can run multiple bots. e.g. one to trade in JPY, one to trade in USD.

To make arbitrage easier, you could have a separate cookie per tab.

However, because both connections will go via the same tor circuit, this still le

[2022-03-07 11:14] dbolser opened #69 "Give a 'Step x of y' infographic while trading"
**Is your feature request related to a problem? Please describe.**
I didn't visually notice the difference between the bond and the trade invoices.

**Describe the solution you'd like**
Make it clearer that the bond has been paid and the trade now needs to be paid.
e.g. a 'milestone' type progress bar that shits along like the 'Order details' text does.

**Describe alternatives you've considered**

[2022-03-07 11:17] dbolser opened #70 "Show the chat box even before the counterparty is 'online'?"
**Is your feature request related to a problem? Please describe.**
As a noob, I'm not sure where the chat box should appear / if hte site may be broken / if I@m supposed to be doing something, etc.

**Describe the solution you'd like**
If the chat box appeared with teh animated text (waiting for counterparty...) I would know the state wasn't 'on me' and that I'm waiting for someone in the backgrou

[2022-03-07 11:36] Reckless-Satoshi commented on #70
Hey @dbolser

Thanks a lot for the input and ideas!

This is exactly how it works, right? You just follow the `Contract box` plain text instructions and it will tell you "waiting for <bot_name> to lock escrow / submit invoice. Then you will be able to chat"

Everything except the chat itself are HTTP requests that your browser is sending every X seconds. You probably won't miss it if you are looki

[2022-03-07 11:37] Reckless-Satoshi commented on #69
In retrospect, this is a must feature. Easy to implement too. Thanks for your contribution!

[2022-03-07 11:47] Reckless-Satoshi commented on #68
This would be a nice feature to allow multiple robots in a single browser. Sort of a _pro_ feature, but requested a few times already.

The way to implement tab specific session is not straight forward though. And you would certainly have problems to hide your shared Tor connection from the server.

**Workarounds as of now to use multiple robots at once:**

1. Use different browsers e.g. Tor Brows

[2022-03-07 11:48] dbolser commented on #70
Somehow the static text doesn't 'talk to me' in teh way an animation would. e.g. if the websocket dies, the animation could stop?

![2022-03-07_11-46](https://user-images.githubusercontent.com/128659/157028730-ef90bab3-9054-4ea8-aca8-e6c8b0b0712e.png)

[2022-03-07 11:49] dbolser commented on #68
To be honest, I'd build multiple account support into the UX (assuming the privacy trade off is considered worth it).

e.g. pick an account from a drop down.

[2022-03-07 11:50] Reckless-Satoshi commented on #70
Got it!

[2022-03-07 11:51] Reckless-Satoshi commented on #68
Agree. This is the way to go for this feature.

[2022-03-07 12:01] Reckless-Satoshi commented on #31
Most critical ToolTips are already in place. As of now it is a matter of double checking all over the whole app and see where some tooltips could still be useful if added. One could think of adding ToolTips in:
1 - Rows of the OrderPage (Order box). (E.g, tapping on `Premium` explains what premium is)
2 - Different steps of the TradeBox (Contract box). (E.g, tapping on `copy to clipboard` says 'co

[2022-03-07 21:53] supertestnet commented on #56
After considering it over the weekend I think your site should query the lightning escrow api on the backend rather than making users do it on the frontend. Users *can* do it on the frontend but then each user will need their own lightning escrow account, which increases the number of queries they will need to make in order to create a contract. Instead of that, perhaps your entire site should use

[2022-03-08 17:41] chimp1984 commented on #39
@dbolser Sounds like a feasible idea. Can you try to sketch it out in more details to see it the idea really holds?

[2022-03-09 15:41] bobderbobs opened #73 "Buy lightning btc with onchain btc"
I think that this project can be a good place for a lightning btc <-> onchain btc market.
I think there will be people to offer liquidity who don't want to sell their btc.
This would also incentive people who don't want Fiat to open a channel to robosats as they can sell their lightning btc in that channel for onchain btc.

[2022-03-09 16:21] Reckless-Satoshi commented on #73
Indeed, one possible use of the platform is as market for swaps for Lightning into other BTC forms (including on-chain)

In fact, it is already an available feature. One only has to select "BTC" (with a swap symbol) among the currencies. Then the text box will ask what is the swap destination (the order maker chooses). Additionally one could price it using the premium box (e.g. 0.3%). For example,

[2022-03-10 12:44] Reckless-Satoshi commented on #56
Hey @supertestnet ,

Sorry for the delay to reply. I have been thinking deeply about this and the more I think the more I realize how much of a big undertaking this feature is :)

Indeed, the way to implement it is to have a simple lnescrow account 'robosats' that makes all requests. Users interact with it trough Robosats frontend. It will require some radical changes to the existing trade pipelin

[2022-03-11 01:24] #60 closed

[2022-03-11 15:12] #69 closed

[2022-03-11 18:44] Reckless-Satoshi commented on #70
Hey @dbolser

The new chat upgrade is very explicit about who is connected / disconnected. Two flags show on top "You: connected", "Peer: disconnected", as well as avatars will show a green or red dot over themselves.

If the connection drops, the chat websocket will keep trying to reconnect until successful. In addition, the "Send" button will be disabled if you are not connected and will display

[2022-03-11 18:52] Reckless-Satoshi commented on #37
Hey @dbolser , it is hard to make it SMART because I do not know what I am asking for :dagger:

Summary of this ticket is "I have no idea what I am doing UI style-wise. But probably you do. Advice and help would be cool"  Of course, this ticket was opened long time ago, and UI has improved a great bit. So I will simply close it and apply more SMARTness going forward.

[2022-03-11 18:53] #37 closed

[2022-03-12 11:44] Reckless-Satoshi opened #75 "API Documentation"
We are using django-rest-framework so it is a very low hanging fruit to exploit the API. In fact, some developers seem to be using it before any documentation has been made. This is due to how simple and easy it is to explore the robosats API. Will summarize here everything you need to know to use it.

## Short API documentation

Simply open your Tor Browser (http://robosats6tkf3eva7x2voqso3a5wcor

[2022-03-14 11:18] cointastical commented on #39
What outcome would be the result of the following?

A Dispute is Opened by the seller.

Both Buyer and Seller provide screen shots of the chat.
Seller's screen shot of the chat shows payment instruction "Send to Zelle account: AliceTheWhale@gmail.com".
Buyer provides a screen shot from the chat that shows "Send to Zelle account: EvaTheTrickster@gmail.com", along with screen shot of the Zelle trans

[2022-03-14 13:48] #70 closed

[2022-03-14 13:49] #66 closed

[2022-03-14 13:55] Reckless-Satoshi commented on #35
This has to be done first.

In addition. There are a few places where English sentences are composed via scripts that will be difficult to make work on other languages.

The UI and texts are still very fluid. Let's wait at least until v0.2.0 release before putting the work into internationalization.

[2022-03-14 15:10] dbolser commented on #39
I'm honestly not sure...

Perhaps something along the lines of the site issuing your reputation token to a bitcoin address, then when you connect to the site you digitally attest to as many tokens of reputation as you like.

The way this works in detail with blind signatures or Chaumian eCash isn't something I know in detail, but I know it's not that weird (cryptographically).

Shame there is noth

[2022-03-14 15:52] dbolser commented on #39
Heh... I just found this: https://www.cs.columbia.edu/~smb/papers/anonrep.pdf

[2022-03-14 23:20] chimp1984 commented on #39
Ah thanks for the link!

Negative reputation might be easier to handle. And privacy concerns can be dropped for certain levels of bad behaviour. E.g. if used only in clear contract breaches (scam attempts) privacy can be ignored at all (no need to protect scammers privacy).

There have been some discussions about it for Bisq:
https://github.com/bisq-network/proposals/issues/260

Bisq uses a concep

[2022-03-15 04:49] dbolser commented on #39
Strong disagree. Privacy should not be sacrificed.

[2022-03-16 03:33] chimp1984 commented on #39
So you prefer to protect scammers? The real issue with the proposal IMO is the centralisation power of the arbitrator who can effectively ban users by applying a negative score.
But the positive side is that is relatively easy to implement and a feasible concept. All the other ideas about decentralized reputation systems are kind of vaporware, and so far nobody has developed one. Open Bazaar had a

[2022-03-16 07:55] dbolser commented on #39
Of course. Are you tripping? Where have you been the last 13 years? I know, let's blacklist bitcoin addresses... Only for scammers of course...

Anonymous means anonymous. Most people are not scammers. Prevent Cybil and we're golden.

You don't seem to understand the proposal / concept of anonymous reputation / are talking about something other than my proposal.

The only good thing about a 'coin'

[2022-03-16 11:41] Reckless-Satoshi commented on #39
The discussion here is being really interesting (though a bit all over the place :D)

I will just give my thoughts, because I see some of you guys are falling for a false dilemma here: _either a reputation model is implemented or we are allowing scammers_. This is totally not the case! We have a fidelity bond system for a reason. The best trust/dispute/reputation model system is the one that preve

[2022-03-16 11:50] chimp1984 commented on #39
Good luck. I leave that discussion.
Not interested in getting insulted by ppl (@dbolser) who have never built anything in that area, don't gety the problem space and are not able to have a cultivated discussion.

[2022-03-16 11:57] Reckless-Satoshi commented on #39
@dbolser and @chimp1984 can we all be robo-adults and be friends please? :) We need everyone's contribution here. Too precious to be lost because of some bad mood.

Guys, I don't want to lose time implementing a [Code of Conduct](https://opensource.guide/code-of-conduct/) :)

[2022-03-16 14:50] Reckless-Satoshi commented on #39
Haha, I appreciate it :D (scammers don't....)

I think there is something I did not understand. Who/what is in charge of burning the reputation and re-issuing it?

[2022-03-16 22:15] decentralizedb commented on #52
About the bond-less takers topic. I think this option should be had by default some limits, one of them does not exceed some sats amount, maybe the minimum amount allowed in the platform (20K for example.). Another one should be to have a premium minimum higher by default, 15% eg., but it could be increased by the Maker.

[2022-03-16 23:53] Reckless-Satoshi commented on #52
Agree! It should be limited in some way so stakes are low. In the current state of PR #76 the max for this option is 50K sats.

I am unsure to whether limiting lower bound premium is a good idea. In my conceptualization of the great free market I want RoboSats to be, the maker should be free to select a premium that he deems is worth taking the risk (without it being imposed by anyone, this is not

[2022-03-17 07:37] decentralizedb commented on #52
Yes, I understand you, but it's not just the Maker that we should think about, we should think about the person or people who are going to have to deal with resolving all the disputes that this feature may generate on the platform.
I'm not sure, maybe one idea is to start with not limit and try to test it, if the problem is bigger, so, limit the bond premium.

[2022-03-22 19:05] zx9r commented on #75
Fixing incorrect link for currency numbers file:

https://github.com/Reckless-Satoshi/robosats/blob/main/frontend/static/assets/currencies.json

[2022-04-03 16:13] Reckless-Satoshi commented on #35
Work in progress.

[2022-04-03 22:01] zx9r opened #86 "Error changing Pricing Method when Amount Range is enabled"
When creating a new order, if Amount Range is selected under the customize tag, the behavior of the Pricing Method is not as expected. It seems that the Explicit option is desactivated, indeed if you click on Explicit the radio button is not changed (it stays as Relative) but the text box expects to enter a Explicit amount and the text below also changes according to an Explicit Pricing Method

St

[2022-04-03 22:15] Reckless-Satoshi commented on #86
@zx9r
Indeed, thanks for reporting!

Once range amount is enabled, it does not make sense to use an explicit pricing method anymore. Therefore the radio button is disabled. However, it seems the disabling only applies to the appearance, yet the radio button is still clickable and works as usual...

Will simply add a fix to it on the i18n branch I am currently working on as it is a easy and minor f

[2022-04-09 11:40] Reckless-Satoshi commented on #86
Solved in last merge.

[2022-04-09 11:40] #86 closed

[2022-04-09 11:48] Reckless-Satoshi opened #87 "Public order options: pause and renew"
Facilitate public order management by introducing two features:

1) **Pause public order**: A maker can hide at will a public order from the book. Example use: if a maker cannot attend for X hours a public order, he can hide it. No risk for him to lose his bond for not replying to a taker and no time wasted for the taker, same effect as  if he cancels and re-create. Yet, it is way easier to pause

[2022-04-09 12:07] zehks commented on #87
Awesome feature.

An easy approach could be to use the current _status_ flag the orders have. The public and available orders currently have an status value equals to 1. A paused order could have another different value (-1, 2, 3.. I don't know the existing values yet).
With this approach, a minimum change in the backend is required.

When listing orders, avoid the ones with status equal to "pause

[2022-04-09 12:29] Reckless-Satoshi commented on #87
@zehks Indeed! Sounds like the most sensible approach. All the status values can be seen here https://github.com/Reckless-Satoshi/robosats/blob/6044583b2882b5ab9b78f42b32ce6bb46a930a10/api/models.py#L162-L181 . The API only allows to take orders that are Public (order.status == 1) . So far, the status 3 (Deleted) has no use and will probably never be used, so it might be a good idea to repurpose i

[2022-04-09 14:27] ibertario opened #88 "Small typos on "What is RoboSats?" INFO"
**1.**

There's an space and two final dots in the last phrases on this text:

![image](https://user-images.githubusercontent.com/68381662/162578264-9efe0eda-f51e-46bc-a8ec-632e77e13d7a.png)

[...] You can find a step-by-step description of the trade pipeline in [How it works](https://github.com/Reckless-Satoshi/robosats/blob/main/README.md#how-it-works)**.** You can also check the full guide in [

[2022-04-09 14:34] ibertario opened #89 "INFO button visibility on night mode"
**Describe the bug**
The INFO button is hardly visible (some devices better than others) on night mode, maybe is better maintain the black color in this:

![image](https://user-images.githubusercontent.com/68381662/162578561-4a315aa1-0b52-45d8-a7e9-effb145d711e.png)

[2022-04-09 14:57] ibertario opened #90 "Missing some icons on Desktop"
**Describe the bug**

When you use RoboSats on Tor Browser Desktop, 🌍 (ANY) and 🟨 (XAU) icons are missing.

**To Reproduce**

Visit RoboSats onion site with desktop Tor Broswer.

**Screenshots**

![image](https://user-images.githubusercontent.com/68381662/162577841-0bca598d-a2f1-4ace-891f-1361b6149738.png)

![image](https://user-images.githubusercontent.com/68381662/162577847-e5f8012b-dd8c-4d5c-8f

[2022-04-09 15:17] ibertario opened #91 "Referral codes persistence and links with Robots"
**Describe the bug**

If a Robot is not used in some time, the associated Referral code can't be recovered, because recovering the Robot creates a new Referral code.

**To Reproduce**

1. Generate a new Robot
2. Click on 'Your Profile'
3. Activate 'Rewards and compensations'
4. Save the 'Referral link'
5. Don't trade and close the website
6. Recover the Robot the next day
7. See that you have the

[2022-04-09 15:25] ibertario commented on #91
A new system with rewards separated from Robots:

- Reward ID is created only after a trade is completed
- You obtain a _CODE_, a shareable _LINK_ (..../ref/CODE) and an _ADMIN REFERRAL LINK_
- With the admin referral link, you can see what you have obtained, withdraw... and maybe donate the sats to RoboSats.

This solves the issue and prevents some marginal Robots reuse.

A little T&C can be adde

[2022-04-09 15:41] ibertario commented on #38
Some improvements that can make the system stronger:

* Reward ID is created only after a trade is completed
* You obtain a CODE, a shareable LINK (..../ref/CODE) and an ADMIN REFERRAL LINK
* With the admin referral link, you can see what you have obtained, withdraw... and maybe donate the sats to RoboSats.

This solves the issue: [Referral codes persistence and links with Robots](https://github.c

[2022-04-09 15:58] Reckless-Satoshi commented on #90
As far as I know this is an issue of Mozilla (Tor Browser) on Windows. It does not support emojis. The only fix is to replace fully all emojis left for SVG icons.

[2022-04-09 16:27] ibertario commented on #90
SVG icons definitely will look better, not a priority of course.

[2022-04-10 15:11] #88 closed

[2022-04-10 15:11] #90 closed

[2022-04-10 15:12] #89 closed

[2022-04-10 15:17] Reckless-Satoshi commented on #88
Thanks for reporting!

Last commit fixes the issues reported in #90 , #89  and #88

[2022-04-11 16:40] #31 closed

[2022-04-11 16:40] #35 closed

[2022-04-11 16:41] #52 closed

[2022-04-13 14:13] Reckless-Satoshi commented on #38
Yay! Good ideas, thanks for the brainstorm.

It's preferable to not have to complete a trade to obtain a link. It is not trivial to complete a trade and we do not want to incentivice self-trading to create referral links. In addition, it opens the door to potentially be able to link a real ID with a referral code... Not great for privacy. Better if a robot can be used for referrals only.

An admin

[2022-04-14 17:16] ibertario commented on #38
Very good feedback, thank you!

This can be a good way to do the work!

[2022-04-20 08:25] fernandoporazzi opened #101 "Use Create React App or Next.js on frontend"
**Is your feature request related to a problem? Please describe.**
The way the front-end code is organised makes it quite hard to install the project and run it locally. Also, by using custom dev and build script, we bring unneeded complexity to our scope. Also, I see that it's quite hard to update dependencies the way it is now.

**Describe the solution you'd like**
I propose here the usage of [C

[2022-04-20 10:26] Reckless-Satoshi commented on #101
Hello @fernandoporazzi

Thank you very much for bringing up this issue and your contributions.

I do not have previous experience with CRA or Next.js . A priori, it seems it would indeed make easier the dev experience, and if anything was not possible while using CRA I read that the project can be ejected (under the hood uses Babel, webpack,...).

As my frontend developing experience is very limit

[2022-04-24 03:41] initCCG commented on #33
If possible, all chat and notifications should go through Matrix, because it connecting so many networks.
Even dinosaurs like Bisq have already moved their support to Matrix.

[2022-04-24 04:16] initCCG opened #106 "Escrow locking time period is too short"
**Is your feature request related to a problem? Please describe.**

3 hours is not enough time to react to a trade for most normal human beings. Healthy people sleep 6-8 hours a day. Many of life's events make normal people turn off or leave their phone for over 3 hours.

**Describe the solution you'd like**

Time for maker to react to a trade should be increased to at least 8 hours. 12 hours woul

[2022-04-24 10:07] Reckless-Satoshi commented on #106
Hey @initCCG

This is indeed a parameter that everyone feels it has to change. Yet, it is unclear there is any consensus. Many users want it to be shorter. Takers are also frustrated to wait 3 hours: they want speedy in-out (and they pay for it with higher fees). Originally, this parameter was only 30 minutes, mimicking lnp2pbot. We felt it was too short and 3 hours, as of now, feels close to the

[2022-04-24 12:09] initCCG commented on #106
@Reckless-Satoshi Thanks for explanations.
It's not fair for the makers to do all this work just to maintain liquidity at all times, but for the takers to  expect to get their trade processed at their pace and on their schedule.
They are not trading against machines, and this is a global market with obvious time of day consequences. If they want machine response times instead of trading with norma

[2022-04-24 12:09] #106 closed

[2022-04-24 17:32] Reckless-Satoshi commented on #106
Hey @initCCG,

Thanks a lot for all the suggestions from the side of a professional maker. The message has been gotten! We need better maker tools. I have been asking around for professional makerss advice for long time and have gotten nothing. So please, stick around. It is not fair to get feedback together with an ultimatum :)

I am thinking a good option might be to **allow makers to customize

[2022-04-27 19:49] zx9r opened #112 "Order created with different range amount that specified"
**Describe the bug**
I have created a sell order with range amount 50-125 EUR, however the published order has a range of 50-130

**To Reproduce**
I guess just creating an order with said parameters, didnt try repeating though

**Expected behavior**
Published order should have the amount range specified by the user

**Screenshots**
In the following screenshot the range 50-130 can be seen:

![image

[2022-04-27 23:05] Reckless-Satoshi commented on #112
Thanks for reporting @MishoKanaria !

Seems to be a rounding issue on the front end (it rounds to precision of two digits).
https://github.com/Reckless-Satoshi/robosats/blob/ba9bc16b531b86f8448cdae1308c57e84cb391eb/frontend/src/components/OrderPage.js#L535
Yet the order is exactly 50-125 (the description of the invoice is always right).

The precision is set to only 2 since this the max precision

[2022-04-29 10:13] zx9r commented on #112
Yep, I dont remember If I entered the 125 manually but I guess you are right

BTW, who is MishoKanaria ? ;)

[2022-04-29 15:01] Reckless-Satoshi commented on #112
Wops! :D The automatic recommended @tag played with me ;)

[2022-04-29 18:54] #112 closed

[2022-04-29 21:56] zx9r opened #114 "Possible unwanted function redefined in api/tasks.py"
Function users_cleansing is defined twice in file api/tasks.py

Since it is decorated with shared_task decorator I guess it is hiding any problem as the function is not directly called but I'm not sure if any problem can arise derived from this.

It seems a copy/paste error. Probably would better to name second definition (line 43) as give_rewards()

[2022-04-29 22:06] Reckless-Satoshi commented on #114
Indeed, this seems to be a mistake (copy/pasting related). Line 43 function should be renamed as give_rewards().

Weird enough, it went undetected since the task works as expected and the compiler doesn't raise any error :)

[2022-05-01 17:31] Reckless-Satoshi commented on #114
Fixed in the latest patch.

[2022-05-01 17:31] #114 closed

[2022-05-01 21:08] ghost opened #121 "Decimals on % Premium over market"
Two issues when entering the decimals on Premium over market percentage:

1. If you add 3 decimals or more in the % Premium over market, nothing happens when you click on "CREATE ORDER" and you can't continue.

![image](https://user-images.githubusercontent.com/68381662/166164700-1d2322fd-3da1-4956-baab-0c578514dfc2.png)

2. If you add a comma (like numbers in Spanish) instead a point as decimal s

[2022-05-01 22:08] Reckless-Satoshi commented on #121
Thanks for reporting!! @ibertario

1. Indeed, the DecimalField for the Premium only accepts 2 decimals. So the API call probably is returning an unhandled bad request. Best fix seems to limit the Inout to a max of 2 decimals.

2. I cannot replicate this issue, what browser are you using? Certainly the european "," as decimal separator does not work, I will look for a fix. In Tor Browser it lets me

[2022-05-02 10:07] ibertario commented on #121
Tor browser mobile or desktop. Insert a comma and then click outside.

[2022-05-02 17:32] Reckless-Satoshi commented on #121
Tested! Exactly as described. Seems to mostly be an issue (or design?) of Material UI TextField. Will check online whether this has been spotted by others.

[2022-05-03 09:50] ibertario opened #123 "Alert about backing up Robot Tokens"
This can reduce support request where Robots didn't backed up their Tokens.

Before creating or taking an order, alert the Robot to back up their Token. If you use a modal window you can show also the Token:

`CAUTION: Backing up your Token is extremely important before starting a trade.`

![image](https://user-images.githubusercontent.com/68381662/166432574-2d411c55-588b-46a8-bf01-f24955f95b38.pn

[2022-05-03 10:16] Reckless-Satoshi commented on #123
Hey @Ibertario,

Indeed, this is a must. And a very nice way to implement it. I was also wondering how to alert users of their Token not being backed up without being annoying.

I think we can use a variable `copiedToken` that becomes True when the user taps the "Copy" button on the Robot Generation page or profile page. If `copiedToken` is false, then an alert shows up when you tap "Create Order"

[2022-05-03 11:16] ibertario commented on #123
Copied ≠ Saved

We can't be sure if after copying the Token the Robot stored it in a safe place. The Robot can have it copied in a temp way not reliable or forgot to back up properly.

The problem here is that in temporary / Tor Browser environments we can't trust cookies.

Reset identity, forced close by device, inadvertently close by the user, reset, battery shutdown, energy issue... There are m

[2022-05-03 11:50] dsitti commented on #123
How about a "I saved my token, don't warn me" check-button on the usergen page next to the copy button?
If true, the warning will not be displayed.

[2022-05-03 11:52] ibertario commented on #123
That's an addition, because the user can start a trade without that check marked.

[2022-05-03 16:36] Reckless-Satoshi commented on #123
Yes, very true. However, the idea is that by storing the token in cookies instead of the react app state this cannot happen anymore. ⬇️

It will be impossible to have an active session if the browser does not know your token. That means: as long as you are logged it, you can still back up and... Lees UI to create for this feature :D

Storing the robot token into cookies is, in any case, needed for

[2022-05-04 06:51] rkfg opened #124 "Add Ukrainian Hryvnia"
It's currently missing from the list of fiat currencies and I guess it might be useful given the current situation!

[2022-05-04 12:47] Reckless-Satoshi commented on #124
Hey @rkfg, the currency is available in at least one of the external price providers. So you can expect to see it added in the next platform update!

[2022-05-04 19:36] Reckless-Satoshi commented on #123
Both alerts (for makers and takers) are already implemented as described by @ibertario . It is also tougher now to lose the token by the browser. The alert's won't show if they user has copied the token previously.

[2022-05-04 19:37] Reckless-Satoshi commented on #124
New currency added https://github.com/Reckless-Satoshi/robosats/commit/26155fe4518063c271c7bcf51ff9525f60ffa2f9
Will be up on mainnet sometime before the week ends.

[2022-05-04 19:37] #124 closed

[2022-05-04 19:50] rkfg opened #125 "Ring sound in the order view when the browser window changes size"
**Describe the bug**
Probably an effect being triggered on some re-renders. It also happens once after the order is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an order
2. Change the browser window size
3. Ding-dong

**Expected behavior**
No audio signals unless the order is taken.

**Desktop (please complete the following information):**
 - OS: Debian Testing
 - Tor Brow

[2022-05-04 21:26] Reckless-Satoshi commented on #125
Indeed, this is a minor, yet annoying bug.

The audio is played on component refresh, most often caused when the Desktop UI switches to Mobile or vice-versa.  The variable that stores whether the sound has already been played is lost.

A possible solution is to store that variable somewhere else more persistent. Needs research.

Thanks for opening the issue @rkfg !

[2022-05-08 12:04] Reckless-Satoshi opened #128 "Buyer payouts on-chain with on-the-fly reverse submarine swaps."
**Observation:**
New users on lightning seem to be confused about how they can move the Sats to an on-chain address or cold wallet. Usually, after buying sats in LN using RoboSats, they resort to some thrid party service (CoinOS, FxedFloat, Muun...) that charges a relatively large fee.

The swap service, however, might be easy to implement in RoboSats. A user could select to receive the Sats on-ch

[2022-05-08 17:38] ibertario commented on #123
This a good way to improve Token session persistence.

Think about all type of users with this. Instead of the "copy" button, some users (like me) prefer double click/select the Token text directly and copy it, or (in paranoid mode) copy some characters from the middle and then the other side.

I'm against to check if the copy button was used (and assume that the user copied it later!)

Tested and

[2022-05-08 17:38] #123 closed

[2022-05-08 17:51] Reckless-Satoshi commented on #123
Yes please! It needs a bit of thinking... how to implement a download button without adding more elements...

[2022-05-13 11:48] Reckless-Satoshi opened #134 "Add book depth chart"
Create a book depth chart as a react component that fetches data from [`/api/book/?currency=0&type=2`](http://unsafe.robosats.com/api/book/?currency=0&type=2&format=json).`
It could use plotly/chart.js/canvas.js .

A reference of what a usual book depth plot looks like:
![1*NjNZwgGH-jisDvbk7GvrOw-3617449492](https://user-images.githubusercontent.com/90936742/168276905-caff58fe-fe94-4091-b0eb-dc60d

[2022-05-13 12:01] Reckless-Satoshi opened #135 "Exchange historical activity charts"
Create exchange historical activity charts as a react components fetching data from `/api/historical`
It could use plotly/chart.js/canvas.js .

Ideas of what these plots could look like (by @antonopulosL):
![IMG_20220513_123147_202](https://user-images.githubusercontent.com/90936742/168278901-46202e1b-ff97-467e-b704-d721f51955ee.png)
![IMG_20220513_123251_341](https://user-images.githubusercontent

[2022-05-13 18:20] openoms commented on #44
Tested the Bitcoin Wallet by being on both sides of the trade. Worked well.
The hodl invoice shows as a grey icon while waiting.
Need to tap the back obvious back button to return to the main screen while the payment is pending.

| Wallet  | Version | Interface | Recognizes Hold | Misleading | Concurrent HTLCs | Compatibility | Recommended |
| --- | --- | --- | --- | --- | --- | --- | --- |
| [Bit

[2022-05-14 14:21] Reckless-Satoshi commented on #64
Work ongoing https://github.com/Reckless-Satoshi/robosats/pull/136

[2022-05-15 13:16] rkfg opened #137 "Unclear flow for the seller taker"
**Is your feature request related to a problem? Please describe.**
Turns out it's not very clear for the sat seller that takes a buy order that they should send sats _twice_, first the bond and then the actual order amount. Because of that they can lose the bond after timeout. This happened to my counterparty (I was the buyer and the seller lost their bond).

**Describe the solution you'd like**
I

[2022-05-15 18:45] Reckless-Satoshi commented on #137
I had not thought about this. But indeed I can see there could potentially, _for a very unaware seller_, some confusion.

What do you propose as a fix? Currently the Contract Box will explicitly ask "Deposit the Escrow" with a full size QR code, it shows a new trading step (2/4 instead of 1/4) and the message is colored in green (unlike any other bond). The only way I understand this could be more

[2022-05-15 18:52] rkfg commented on #137
I suppose it might be confusing to people who use the platform for the first time. Maybe it's unclear how "bond" is different from "escrow", to me these words are pretty similar so the seller might have thought it's kind of the same thing they'd already done. I suppose rewording should help + if there's no explicit information that the seller will lose the bond if they don't deposit in 3 hours I p

[2022-05-17 07:45] Reckless-Satoshi commented on #137
@rkfg Fixed in https://github.com/Reckless-Satoshi/robosats/commit/1a751b4fa7ae77e15b06e9131133950652d1e728
Will be live in the next platform update later this week. Closing this Issue.

[2022-05-17 07:45] #137 closed

[2022-05-20 11:56] PeterMcBTC commented on #134
apparently the code is described in the following article https://towardsdatascience.com/learn-what-a-depth-chart-is-and-how-to-create-it-in-python-323d065e6f86
I will have a look at it

[2022-05-20 12:45] Reckless-Satoshi commented on #134
@PeterMcBTC Awesome! The tutorial seems to be python based. It would certainly be more useful if the plot can be generated in the frontend in javascript with data fetched from unsafe.robosats.com /api/book/?currency=0&type=2.

[2022-05-20 15:15] #87 closed

[2022-05-21 03:45] RedNumber1 opened #145 "Attempting Lightning Payment stuck"
I had to leave to make inbound liquidity and now its stuck on "RoboSats is trying to pay your lightning invoice. Remember that lightning nodes must be online in order to receive payments." No retrying

[2022-05-21 09:59] Reckless-Satoshi commented on #145
Hey @RedNumber1,

One payment was 'holded' by one routing node, probably a crash or shut down somewhere in the network. Any payment after it entered a queue in RoboSats end, so that's why they show as "Attempting (...)" but it does not seem to ever finish. After restarting LND payments should have succeeded/failed as expected. Except the one related to order #4701 that is still in hold due to the

[2022-05-21 09:59] #145 closed

[2022-05-25 09:03] ozoono commented on #44
CoinOS tested on BUYING successfully.

Hold invoice works (in Robosats you can see the fidelity bond is locked), but CoinOS shows a progress bar  for the transaction for a couple of minutes, but finally it throws an error .

Payouts from Robosats receiving bought sats works fine

[2022-05-25 23:44] ibertario commented on #91
Another scenario:

- **Robot 1 have no history** for now.
- Robot 1 shared his referral link.
- Robot 2 uses the one's link.
- Robot 2 starts **a trade**, but does **not end it that day, but after midnight**.
- Robot 1 loses his link and reward.
- Robot 2 loses its conditions? (not sure)

[2022-05-27 02:30] ibertario opened #150 "Detailed amounts of sats involved after a trade"
At the end of the trade (therefore also in the information that is seen when entering in the order later) add the summary of the exact amount of Deposit, Commission and sats bought / sold:

Concept from @dehiv that includes data from maker and taker:
![image](https://user-images.githubusercontent.com/68381662/170606053-72e81a3d-e1ad-4e2b-acd6-94af5ca97e5c.png)

I propose refer only to the part of

[2022-06-02 06:15] openoms opened #159 "Same backup code, shows new robot avatar, name and referral link"
**Describe the bug**
Saved a backup code and share the referral link - so came back to check it.
The robot name, avatar and referral link is now changed after ~2 weeks.

**To Reproduce**
Steps to reproduce the behavior:
Restore the same backup code 2 weeks later,

**Expected behavior**
Same account should come up as tested previously.

**Screenshots**
If applicable, add screenshots to help explain

[2022-06-02 09:49] Reckless-Satoshi commented on #159
Hey @openoms,

With the introduction of the new message encryption scheme we had to upgrade how robots are generated. We ran a "transition fork" for 4-5 days from tokens V1 to tokens V2.

Any V1 token robot cannot be used in the frontend. These also cannot participate in orders anymore (they do not have a pair of PGP keys, so they cannot communicate). You shouldn't reuse your robot avatar in any c

[2022-06-02 10:09] openoms commented on #159
Thank you for the explanation!
This is not a burning problem and only for documentation, but if I try
`http://robosats6tkf3eva7x2voqso3a5wcorsnw34jveyxfqi2fu7oyheasid.onion/user/?token=ANY_ROBOT_TOKEN`
I just get:
[code]

[2022-06-02 10:12] Reckless-Satoshi commented on #159
My bad! Wrote the endpoint wrongly. Missing the /api/ .

[2022-06-02 11:16] openoms commented on #159
Great, can access the old avatar just in case.

If the generation of the robots is not expected to change for now (or without notice) this can be closed.

[2022-06-02 22:13] #159 closed

[2022-06-15 21:04] TimmyDove opened #164 "High load when chat window is open for some time"
**Describe the bug**
When the chat window is open for a while, the tor browser has quite high cpu usage.
It uses about 20-30% of a core on a modern intel notebook cpu, which results in 40% more power consumption (and cooler noise). This is annoying if you have to wait for the peer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go through order until the chat
2. Keep chat open for some time

[2022-06-16 23:13] Reckless-Satoshi commented on #164
Hey @TimmyDove thanks for pointing this out.
Indeed, I have also noticed high CPU usage in chat, specially after a few messages have been written and the connection is unstable (drops and reconnects).

Every time you reconnect, the server sends all PGP encrypted messages (also when you peer connects), and they get decrypted demanding a lot of CPU. I believe there is quite some redundancy going on

[2022-06-18 19:10] 0xtrr commented on #91
Would love to see robots with persistent referral links. I use a referral link in my robosats orderbook nostr bot which kind of depend on the referral link to be persistent. I imagine there's a lot of other similar scenarios that would need this.

[2022-06-18 19:17] Reckless-Satoshi commented on #91
As of now there is a trick to make sure your robot referral is permanent: create a robot and make a small trade of $5 USD with yourself. You can even use collaborative cancel after commiting the Sats. That robot will never be killed by the cleaning service and the referral link will be permanent :)

Solving this issue for good is in the list and will be done soon!

[2022-06-19 13:49] Reckless-Satoshi commented on #40
As of https://github.com/Reckless-Satoshi/robosats/commit/9da33b60e66449d09c1754fedaf8e7678cd64a57 `mcreset` has been disabled. Routing reliability and speed has improved considerably. Yet if a user's node if offline and he turns it online, the platform will not try to route to him (this case seems to not happen often at all).

[2022-06-21 16:58] Reckless-Satoshi commented on #128
Implemented and live
https://github.com/Reckless-Satoshi/robosats/pull/160

[2022-06-21 16:58] #128 closed

[2022-06-24 17:30] alaznem opened #168 "Add 'stealth invoices': an On/Off toggle for lightning invoice description"
**the privacy issue**
When paying lightning invoices for the bond or the maker trade amount, the super descriptive description in the lightning invoice is handy, BUT there are a lot of use cases where users doxing itself severely.

As an example, if an user pays the bond or trade amount from a custodian exchange (Kraken for example), Kraken is getting undeniable facts about the withdrawal. This is

[2022-06-24 17:59] Reckless-Satoshi commented on #168
Hey @alaznem , thanks for bringing up this issue.

Indeed, in some scenarios (custodial wallets) this is a big privacy concern. Let's brainstorm for a solution.

It is unavoidable that they know you are interacting with RoboSats's node (since the invoice must encode node_id), however the invoice usually also encodes order_id, currency and amount. I like the suggested toggling on/off  of the descri

[2022-06-27 17:25] Reckless-Satoshi commented on #135
@AntonopulosL (Twitter) is mantaining a small Flourish widget that shows most of the data. It is embeded in the stats section of the documentation site:
http://learn.robosats.com/stats

It does, however, require manual input by hand of the data in the endpoints `/api/ticks` and `/api/historical` . It would br egreat if we can build some components that use the data in a similar way directly from R

[2022-06-27 17:35] Reckless-Satoshi opened #175 "Add REST API endpoint for the trade chat (Turtle mode chat)"
**Is your feature request related to a problem? Please describe.**
The Tor network is under attack for the last 15 days. When the network becomes very slow, the chat WebSockets is unstable and hardly hardly usable. However, real time chatting works great, is a good UX and must be kept. As an alternative to TOR and its recent slow downs, an I2P mirror of RoboSats is on the making (https://github.co

[2022-06-27 17:58] Reckless-Satoshi opened #176 "Add WebLN support"
**Is your feature request related to a problem? Please describe.**
Using [WebLN](https://webln.dev/#/getting-started) users can lock bonds and submit invoices with a click via a browser extension (e.g. [Alby](https://getalby.com/)). These browser extensions are easily linked to the user LN node/wallet.

WebLN could also be potentially compatible with the Webview app that is WIP https://github.com/

[2022-06-27 18:39] Reckless-Satoshi opened #177 "RoboSats PRO. Let's draft the dream app of large liquidity providers and advanced RoboSats users."
Advanced users and large liquidity providers need better tools: a panel/workspace where they track many robots and orders, functions to batch load/save order configurations, multiple robots at once, further order customization, live order premium editing, etc. All these features add further complexity to the current frontend and will be very confusing for new users, yet they are critical for RoboS

[2022-06-27 18:40] Reckless-Satoshi commented on #177
I will roughly describe what I have in mind: "a table, with a toolbar on top", not too different of how _Google Sheets_ looks.

On each row of the table there will be a Robot identity with an active (or past) order that is being tracked. Columns on this table can be something like ["robot_nickname","robot_token","has_order","order_id","currency","amount","amount SATS","premium","exchange_rate","or

[2022-06-27 18:47] Reckless-Satoshi commented on #42
Currently under development:
https://github.com/Reckless-Satoshi/robosats/pull/170

Encountering these issues:

- [ ] react-router does not seem to work well when the main.js is loaded from the local filesystem.
- [ ] react-native-tor crashes the app at start up. It might not be compatible with current version of react-native. It is not well maintained.
- [ ] Todo: needs JS injection and use of We

[2022-06-27 22:12] Reckless-Satoshi commented on #49
Doesn't really seem to be an issue.

[2022-06-27 22:12] #49 closed

[2022-06-27 22:13] Reckless-Satoshi commented on #34
Given how unstable Websockets are during the current TOR Network attack it might be more clever to translate the Websocket functions (the chat) to REST API :)

[2022-06-27 22:14] Reckless-Satoshi commented on #64
Done. Can be browse in https://learn.robosats.com

[2022-06-27 22:17] Reckless-Satoshi commented on #65
Confirmed as a Tor Browser w/ Tor issue. It just won't copy with the button. Closing.

[2022-06-27 22:17] #65 closed

[2022-06-27 22:18] Reckless-Satoshi commented on #68
Rather than further complicate the current clean and easy UI. We are going to fork the UI into RoboSats basic and RoboSats PRO. See further details https://github.com/Reckless-Satoshi/robosats/issues/177

[2022-06-27 22:18] #68 closed

[2022-06-29 16:45] LindomarRodrigues opened #179 "“Extra” features to increase the popularity of RoboSats"
**Is your feature request related to a problem? Please describe.**
RoboSats is not known and accessed by many people, so often the order book for some currencies ends up being empty for a long time, a fact that is very frustrating and makes it impossible to use the platform.

**Describe the solution you'd like**

- Landing page more “commercial” and less a presentation of the open source project,

[2022-06-29 16:49] LindomarRodrigues commented on #179
I'm willing to contribute to the development of some of these or even other features (as long as it aims to attract new users), so if anyone has an idea and doesn't want to create a new issue, they could add it here below I think.

[2022-06-30 11:54] Reckless-Satoshi commented on #179
Hey @LindomarRodrigues, thank you very much for all of these suggestions!

Are you referring to the landing page of the app (robosats.com)? or the documentation site (learn.robosats.com)?

Worth researching! :D

Agree! but we do not have the developer power at the moment... The webview app is a low hanging fruit. In addition, I would bet 99% of the users cannot tell the difference between React Na

[2022-06-30 13:27] Reckless-Satoshi commented on #177
List of ideas collected from the Telegram:
- **Pre-formated chat messages**, e.g., "Hey {taker_nick}, this is my {payment_method_1} name: @cooldude" . Each order (row in the tablet) could be assigned one or several pre-formated messages. These will be sent automatically as soon as the chat is connected.
- **Algorithmic premium**. Makers seem to care about adjusting the premium on their order accor

[2022-07-01 20:14] LindomarRodrigues commented on #179
I refer to learn.robosats.com, in my opinion is to be a page friendly for new users and prepared for SEO, the ideal would be for “robosats” to appear if you search for “buy bitcoin p2p”, “buy lightning bitcoin” or “bitcoin without kyc”. Something that would facilitate this would be blog posts on these topics (it could even separate the blog into another repository in some simple way for anyone to

[2022-07-01 23:38] Reckless-Satoshi commented on #179
This would be  great. learn.robosats.com is a markdown site that anyone can edit and open a PR.

Each single page can also be added the frontmatter key `excerpt`. According to the Minimal Mistakes Jekyll template:
[code]

The documentation site is still a work in progress and is missing a lot of text. It would be very useful if anyone with SEO knowledge can take a look at it.

[2022-07-02 17:40] LindomarRodrigues commented on #179
I have some knowledge of SEO, but my English sucks, so I can't contribute much to it right now.

But something simple that can be done is to ask to be added backlinks to the sites that launch articles presenting the platform, Google favors a lot of sites linked by others in the same niche.

I saw that there's an author from Bitcoin Magazine preparing something about RoboSats, a backlink with the D

[2022-07-02 23:34] alaznem commented on #168
Thank you for taking my privacy concern serious, @Reckless-Satoshi .

I can think of two options:

1. I lack the understanding of lightning invoice creation, because this option might not be possible without invalidating the signature of the lightning invoice: can the lightning invoice be generated with the description field populated and the client alters the invoice locally in the browser when t

[2022-07-02 23:56] alaznem opened #181 "Identify the taken amount as a maker of an order with an amount range on small screens is clumsy"
**Describe the bug**
Switching from the chat tab to contract tab to identify how much fiat the buyer should send is on small screens not possible, because the tabs on top move out of the visible canvas on small screens.

Knowing how much fiat to receive is crucial for the maker to evaluate before confirming fiat received.

**To Reproduce**
make or take an order and resize the browser window to a s

[2022-07-03 11:01] Reckless-Satoshi commented on #168
Actually, I believe this is technically possible! We would need a Javascript Bolt 11 invoice decoder and encoder. I've quickly check online and [there seems to be a perfect package for it](https://www.npmjs.com/package/bolt11). So it might be relatively easy to implement a client-side stealth invoice.

It is definitely the most elegant solution, so hoping it works out well :)

[2022-07-03 11:04] Reckless-Satoshi commented on #181
Indeed. The app does not display well at all on small screens.

We pushed a patch that fixed it on iOS devices only (allows scroll). It might be good to allow scroll on Android devices too. At least it would allow users to see the Order details tab.

Adding the fiat amount to the Chat component is also a very good idea.

[2022-07-16 13:38] Reckless-Satoshi commented on #150
Implemented in commit https://github.com/Reckless-Satoshi/robosats/commit/834733cb616a28e09597d3b386a35ed6a93f2ee8 ! Closing this issue

[2022-07-16 13:38] #150 closed

[2022-07-19 10:00] Reckless-Satoshi commented on #175
Since the I2P site websocket has been fixed and works flawlessly this task priority is now very low.

[2022-07-20 22:53] marcusmv3 commented on #44
Breez Wallet SELLING tested successfully. Have yet to test buying. Hold invoices seemed to work as intended.

[2022-07-21 21:52] dsitti commented on #177
Oh nice, in the last days I actually thought more often about how it could look like and started to draw my ideas.
I think I can show my ideas in the next days to see what you guys think about it.
Unfortunately I don't have much experience with React and UI development so far. Understand the basics a bit but want to learn, get better and help :)

[2022-07-23 18:59] Reckless-Satoshi commented on #168
Have fun! Let us know if you find any road block :)

[2022-07-23 19:18] Reckless-Satoshi commented on #177
Awesome, I was also thinking on putting forward some initial sketches. But will wait for @dsitti input. Once we have something solid I will luck into splitting the development into small tasks :)

[2022-07-24 07:10] dsitti commented on #177
So here is my first draft:

![image](https://user-images.githubusercontent.com/101874139/180636416-d7d9af12-cf21-48e1-8cdf-203d7d1de924.png)

**Order overview:**
In the center two tables:
1. ORDER BOOK (overview of all public orders, sortable and filterable)
2. MY ROBOTS (overview of own Robots and orders)

If you click on a row, the order will appear in the detail view below.

**Detail view:**
Be

[2022-07-24 20:33] dsitti commented on #177
Or here is a slightly modified version, a bit clearer and less colors. I like a little more I must say.
![image](https://user-images.githubusercontent.com/101874139/180664790-546d8ea7-1a6e-42c7-80c9-5f12265b9fe3.png)

[2022-07-25 14:29] kn0wmad opened #190 "Abillity for Peer to Host Their Own Server (Federation)"
**Is your feature request related to a problem? Please describe.**
All peers currently depend on the infrastructure of Robosats.  It is less than ideal as there is a central point of failure in this model

**Describe the solution you'd like**
If peers can host their own servers and federate them, then there are many 'nodes' in the network, making it stronger

**Additional context**
I know this is

[2022-07-25 23:42] Reckless-Satoshi commented on #177
Hey @dsitti these look beautiful! I have enjoyed discovering every corner of your vision :D This contribution deserves some dev fund Sats. Please, submit an invoice for 100K Sats and long expiration time (make sure to use a proxy node_id or send it via private message in TG).

Some things that I like about this design that we should stick to:
- Single view for everything you really need.
- Order s

[2022-07-26 20:45] kobiebotha commented on #44
I tested paying the fidelity bond as a buyer using Cash App's lightning wallet, and it worked successfully. That is, when the trade completed successfully, the send payment in Cash failed.

[2022-07-26 21:51] dsitti commented on #177
Initially also thought of a vertical detail view. Here, with screenshot of the current components, maybe that would be easier to implement in the first step?.
![image](https://user-images.githubusercontent.com/101874139/181115942-98a8095f-d247-4c30-9fe9-bbefa9968f61.png)

or with new new design, until i thought, if a horizontal detail view, you can make the tables wider.
![image](https://user-imag

[2022-07-27 00:21] Reckless-Satoshi commented on #44
Very interesting. Thanks for reporting.

[2022-07-27 07:23] Reckless-Satoshi commented on #168
Reward for this feature has been bumped to 120,000 Sats via donation of @alaznem . Thank you!

[2022-07-27 18:47] fmitjans commented on #168
Apparently the package doesn't allow to encode a different invoice without a new signature (it requires a private key). Further, looking at [Bolt#11](https://github.com/lightning/bolts/blob/master/11-payment-encoding.md) it seems that any change to the description of an invoice would require a new signature, as the description is part of the data to be signed.
Taking this into account, what would

[2022-07-27 22:34] Reckless-Satoshi commented on #168
Thanks for work. Very unfortunate finding since this was the absolute preferred way for us to handle the removal of the description.

It is certainly very inconvenient and risks the scalability of the app.

**For further context:**
Every order has 4 LNpayment foreign key objects attached to it, three of them are hodl invoices. Each has a unique functionality: maker bond, taker bond and trade escro

[2022-07-27 23:07] fmitjans commented on #168
It will be harder to implement, but I think it is a great long-term solution.

Would the whole description look like this?

`Transaction h2837ry98hwe9. This payment WILL FREEZE IN YOUR WALLET, check on the website if it was successful. It will automatically return unless you cheat or cancel unilaterally.`

Or just the random string?

[2022-07-28 01:09] Reckless-Satoshi commented on #168
This looks good to me as there is not sensitive data. Does it look good to you @alaznem ?

[2022-07-28 01:17] alaznem commented on #168
Is there a need to bump the reward even more? And do you still want to keep being assigned to this task?

I like the idea of using a word which is not connected to the idea of an "order" to describe the purpose of the random string, to indicate to the user that this random string doesn't show up anywhere else in the UI. Maybe we could be even more explicit about this and put it on the end of the d

[2022-07-28 02:05] alaznem opened #192 "Add the fiat amount to the chat component"
Related to the UX issue for small screens #181, but also as a general UX improvement we could improve the visibility of the taken trade amount in the chat component. This is especially relevant for taken amount range orders where the maker is using a small screen device.

Furthermore if stealth invoices #168 are rolled out and enabled by the makers, the demand for this feature might surge. Since t

[2022-07-28 02:07] alaznem commented on #181
What's the next action to get this done? Should I open a separate feature request with the title "Allow scroll on Tor Browser for Android"?

[2022-07-28 02:59] alaznem opened #193 "Boost the developer rewards program with donations"
I like the current state of the developer rewards panel very much and I think there is a potential to acquire more spendable sats by donations.

I could imagine a small communication campaign issued by @'RoboSats on twitter with the context of either

a) adding specific features (github issues as idea pool) the users are willing to boost or
b) enabling some heavy lifting by accepting donations not

[2022-07-28 10:01] Reckless-Satoshi commented on #168
+1

[2022-07-28 10:01] Reckless-Satoshi commented on #192
Easy fix. I will commit these changes when I get a bit of time.

[2022-07-28 20:06] fmitjans commented on #168
I'll be happy to do the assignment for the current reward, but it might take a while to complete (maybe 2-4 weeks). Is time an issue?

[2022-07-28 21:21] Reckless-Satoshi commented on #168
I would deem it a low priority task (... in the context of everything that RoboSats needs as of now :D). No problem if it takes some time IMO.

I am also up for implementing all the backend stuff. I think it will be a large overhead for you to run a development full stack. However, I might not find time to implement this backend feature in the next ~2-3 weeks.

[2022-07-28 21:24] Reckless-Satoshi commented on #192
Implemented in https://github.com/Reckless-Satoshi/robosats/commit/1b8f91457cc370d777805b2f7c0b85f6c02bac03 . Up in testnet. Took a bit longer than expected: we have quite some translations files to maintain already!

[2022-07-28 21:27] Reckless-Satoshi commented on #181
@ozoono I believe you enabled the vertical scrolling on iOS. Do you think it will help improving the UX if we enable it in any device instead? I have not yet seen the scrolling in action.

[2022-07-28 22:01] Reckless-Satoshi commented on #193
Hey @alaznem these are great ideas! Also nice to see you want to get in charge of some of these tasks.

We have an under-promoted guide on how to donate to RoboSats https://learn.robosats.com/contribute/donate/ . Would you propose directly how to adapt your specific suggestions? This donation guide is underpromoted on purpose: I do not think RoboSats should actively ask for donations. However, I t

[2022-07-28 22:59] Reckless-Satoshi commented on #190
Hey @kn0wmad very interesting!

I will share here my comments regarding this topic on the RoboSats Dev Telegram channel for the broader audience of Github.

RoboSats is a Lighting app and relies on a single LN node. There is no foreseeable way a single LN node can be federated or decentralized. But there is some other components of the infrastructure that could potentially be federated.

## Moonsh

[2022-07-29 04:45] alaznem commented on #192
WOW thanks, looks nice and seamless in action! :+1: :tada:

[2022-07-29 04:54] alaznem commented on #181
TL;DR: To keep in mind: How to handle multiple scroll bars on the same page, currently only the case within the chat view. There is a scroll bar for the chat messages and a scroll bar for the complete page.

There are some proxy enabled browser apps on android which let the user scroll, but they are not the vanilla tor browser. On these apps scrolling on android is fine with the current robosats v

[2022-07-29 05:26] alaznem commented on #193
This guide content makes sense to me. I didn't know about it before, thank you for pointing me there. I will let this pages content sink in and come back here when/if they synthesized with my initial thoughts about donations for robosats.

Since you don't want to promote or use the above donations guide heavily, the following thoughts might be obsolete and you probably know about this already and

[2022-07-29 08:44] Reckless-Satoshi commented on #192
Amazing! Thank you very much. I will directly re-donate your donation to RoboSats node so it can be used on future features :)

lnbc500u1p3w88dcpp5007p5vp0xe02zjvp0wmmwkt2sfc5w732y5xv0y49p2n8h6yk3akqdzsf9ehxat9yq3nzwfjypjx7mnpw35k7m3qwfjkg6tjv43hgetyyp6x7gr8v4hx2unpdssygetkypr82mnycqzpgxqyd9uqsp5eefyvqps8faal6vduheckwgxsu3a5rvcxs7gqz5spggtcgjedryq9qyyssqgxamm9vru6ahf4qh5hnujrqq3gfsf7j4tr9t4x2zysyj

[2022-07-29 08:44] #192 closed

[2022-07-30 07:35] #181 closed

[2022-07-30 13:02] Reckless-Satoshi opened #194 "Add onchain address validation compatible with Taproot adresses"
**Is your feature request related to a problem? Please describe.**
Current on-chain payout (as on-the-fly swaps) does not accept taproot addressed. The RoboSats backend can pay to taproot. However, the function to validate an address submitted by the user does not support it.

**Describe the solution you'd like**
We are using pip package [coinaddrvalidator](https://github.com/nobitex/coinaddrvalid

[2022-07-30 14:25] Reckless-Satoshi opened #195 "Adapt every UI component to auto scale in size"
**Is your feature request related to a problem? Please describe.**
Most MUI components we are using can be scale in size up or down simply by changing the value of `theme.typography.fontSize`. However, the frontend currently has many hardcoded `width` and `height` props that we have implemented. If these were also relative to `fontSize`, it would trivial to adjust the size of the app, highly incre

[2022-07-30 15:00] Reckless-Satoshi opened #196 "Add core-lightning as LN node provider."
**Is your feature request related to a problem? Please describe.**
We are currently relying on [LND](https://github.com/lightningnetwork/lnd) for RoboSats backend node. It does work pretty well. There is only a few things that might be critical: channel.db is hard to manage and performance/reliability could still be better (I guess?).

It would be great to implement [core-lightning](https://github

[2022-07-30 16:13] Reckless-Satoshi commented on #194
@zx9r and @satsbaba are interested on this task.

[2022-07-30 16:14] satsbaba commented on #194
When you say valid that means that it should follow general guidlines of how a taproot address should be ? @Reckless-Satoshi

Meaning a taproot address should start with 'bc1p.....' else if not it is not a taproot address?

[2022-07-30 16:20] Reckless-Satoshi commented on #194
Yes, but not only. It should have a valid checksum. More context here https://en.bitcoin.it/wiki/Base58Check_encoding#Creating_a_Base58Check_string

[2022-07-30 16:22] satsbaba commented on #194
ohh yes that makes more sense. I am looking into this task for seeing how it can be done. Realised I can use github web editor also for coding.

[2022-07-30 16:23] zx9r commented on #194
I will take a look at the different approachs that could be taken:
- decode the address
- grpc call to bitcoind/lnd

[2022-07-30 16:24] Reckless-Satoshi commented on #194
You will definitely need to run the function :)

[2022-07-30 16:25] satsbaba commented on #194
That I can do it definitely. @Reckless-Satoshi

[2022-07-30 17:06] satsbaba commented on #194
Also it should adhere to bech32 https://en.bitcoin.it/wiki/Bech32 also. @Reckless-Satoshi

[2022-07-30 17:31] zx9r commented on #194
I think that to avoid using external libraries, and to avoid reinventing the wheel writing new code to validate, which is prone to errors, a good solution would be to make a rpc call to bitcoind validateaddress.

Example outputs:

./bitcoin-cli validateaddress 16p7Hhj1tTgAo4GdwQhyzb9gJdsivC1rFH
{
  "isvalid": true,
  "address": "16p7Hhj1tTgAo4GdwQhyzb9gJdsivC1rFH",
  "scriptPubKey": "76a9143fc16d9

[2022-07-30 17:38] Reckless-Satoshi commented on #194
Agree, more reliable and elegant. It might be that in order to implement/test this feature one might indeed needs to run the development stack?

[2022-07-30 17:40] zx9r commented on #194
A call with a testnet bitcoin address with a bitcoind running in mainnet returns invalid as expected:

$ ./bitcoin-cli validateaddress mfWxJ45yp2SFn7UciZyNpvDKrzbhyfKrY8
{
  "isvalid": false,
  "error": "Invalid prefix for Base58-encoded address"
}

I cannot test with a bitcoind running in testnet though

[2022-07-30 17:44] zx9r commented on #194
I can test the function locally but i dont have a robosats development enviroment to make integration tests.

BTW, I dont know how to access the bitcoind rpc inside robosats. Could it be passed as a parameter to the function ?

[2022-07-30 17:45] zx9r commented on #194
Well if it is just a REST call to bitcoind I guess I can get the connection parameters from config. Right ?

[2022-07-30 17:52] Reckless-Satoshi commented on #194
We are not calling bitcoind anywhere at the moment from robosats backend. So the wiring will have to be implemented in a similar fashion we do with LND.

Just add a new environmental variable in `.env` & `.env-sample` . Example:
https://github.com/Reckless-Satoshi/robosats/blob/7645bb39f29ba55ec85d0e2b8caba8335eb57d04/.env-sample#L23

Then it could be retrieved in `utils.py` using `config()
[LND_G

[2022-07-30 21:35] satsbaba commented on #194
I am putting a pull request for this task please check. I have checked this function for this list of btc addresses:
``address_list = ['bc1qw508d6qejxtdg4y5r3zarvary0c5xw7kv8f3t4',
        'bc1pw508d6qejxtdg4y5r3zarvary0c5xw7kw508d6qejxtdg4y5r3zarvary0c5xw7kt5nd6y',
                    'bc1sw50qgdz25j',
                    'bc1zw508d6qejxtdg4y5r3zarvaryvaxxpcs',
                    'bc1p0xlxvlhemj

[2022-07-30 21:52] satsbaba commented on #194
link for the pull request : https://github.com/Reckless-Satoshi/robosats/pull/200

[2022-07-31 11:29] Reckless-Satoshi commented on #194
Thank you guys for the prompt action on this Issue! Both approaches look great (https://github.com/Reckless-Satoshi/robosats/pull/198 & https://github.com/Reckless-Satoshi/robosats/pull/200).

Just a note for future tasks eligible for Sats. The idea behind the rewarded tasks is to offload work from the lead developer. We also want to avoid duplicate work as much as possible. I believe there was so

[2022-07-31 11:48] satsbaba commented on #194
@Reckless-Satoshi 👍

[2022-07-31 12:46] louneskmt commented on #196
Hey! I can try to take care of this task.

[2022-07-31 13:26] Reckless-Satoshi commented on #196
Assigned! Good luck, this is a challenging task :) Reach us via @robosats in Telegram if you need help setting up the dev stack.

[2022-07-31 14:35] #194 closed

[2022-07-31 18:25] louneskmt commented on #196
Would it be okay to use the Unix Domain Socket + the official Core Lightning python client to communicate with the node? I initially planned to use their new gRPC plugin to avoid the use of a new library, but it is still missing useful methods (like for decoding pay requests). The main python service would need access to the file socket (path).

[2022-07-31 19:38] Reckless-Satoshi commented on #196
Sounds good to me. Have no experience with it, but I guess we can mount a file socket into several containers (c-lightning and robosats services) using a volume mount.

[2022-07-31 20:28] louneskmt commented on #196
We can definitely do that with Docker, however it won't work on macOS (only on Linux). It is a known "won't solve" Docker issue. I learnt it the hard way a couple of months ago, after several hours of debugging lol

https://github.com/docker/for-mac/issues/483

[2022-07-31 22:22] Reckless-Satoshi commented on #196
Sad, it means a chunk of the stack won't work on the machines of many potential robo-developers 🤔 Are you in macOS? Not an issue for RoboSats operation as it mostly relies on ubuntu server.

[2022-07-31 22:37] louneskmt commented on #196
Yeah... Alternatively, I can look for all the missing gRPC methods and implement them on the plugin on Core Lightning. Maybe there are not that much (I gotta admit I've just checked if `decodepay` was there). They are missing anyway. We would then need waiting for a new Core Lightning release in order to use my changes with Robosats.

[2022-08-01 00:25] Reckless-Satoshi commented on #196
Maybe this missing gRPC method (decodepay) can be sustituted by the json-RPC one? In any case, all the creative freedom to you :) If you think the plugin is a better solution, let's do it.

How hard would it be for us to build our own temporary Core Lightning image? There is no rush for this robosats feature, it will certainly take a lot of testing until we are comfortable to use it in the wild wi

[2022-08-01 12:00] leshik commented on #196
You might want to use `socat` as a workaround to [expose the UNIX domain socket over TCP](https://serverfault.com/questions/517906/how-to-expose-a-unix-domain-socket-directly-over-tcp).

[2022-08-01 17:21] Reckless-Satoshi commented on #177
I really like these designs.

I have never used Figma. Is there anyway for you to share a link to your draft for collaborative work?

It would be ideal to stick to React MUI components. I am not sure how suited Figma is for it, on a quick look there seems to be some friction: https://mui.com/store/items/figma-react/ (there is a free demo here https://www.figma.com/community/file/912837788133317724

[2022-08-01 17:50] Reckless-Satoshi opened #204 "Improve UserGenPage / LandingPage"
RoboSats is simple, there is only 4 views: UserPage (aka LandingPage), MakerPage, OrderBook and OrderPage. The **UserPage** recently got a review and critic by the guys of [Bitcoin Design Community](https://github.com/BitcoinDesign) (@GBKS @Bosch-0 @pedromvpg @IamSanjana )

### Landing page critic (click for video)

[![crit](https://user-images.githubusercontent.com/90936742/182210043-c3620194-d82

[2022-08-01 20:08] louneskmt commented on #196
AFAIU Core Lightning doesn't natively support hold invoices creation. However, it does provide a plugin hook `invoice_payment` that notify when a payment is coming in before actually settling the HTLC. It is possible to use that to retain the HTLC settlement, and thus add support for hodl invoices. I couldn't find an existing plugin adding hodl invoices creation support using this.

We would need

[2022-08-01 21:19] Reckless-Satoshi commented on #196
Haven't played with c-lightning myself. I see the `CreateinvoiceRequest` method asks for the Preimage param, but it probably retains the preimage and uses it to autosettle invoices on arrival. Also the method to query invoice status seem to only be able to return EXPIRED, PAID, UNPAID. We need the equivalent of ACCEPTED (LOCKED). We would also benefit from having CANCELLED, but not totally needed.

[2022-08-02 18:42] dsitti commented on #177
Also for me first time, but sure, here is a link to view:
https://www.figma.com/file/1gBoB74W35wLD7X2wDEkCT/Robosats-Pro

If anyone want edit permissions ask for a link via TG. :)

[2022-08-03 20:12] fmitjans commented on #168
Unfortunately it seems I'm out of my depth doing this task. I no longer want the assignment

[2022-08-03 20:23] Reckless-Satoshi commented on #168
I see, it became a different kind of task since invoices cannot be modified after the fact. I am up for implementing the API endpoint during next week, if you want to take the part of adding the frontend switch for Stealth Invoice would be awesome. Otherwise, please allow me to tip you 40K Sats, you did a very valuable research figuring out the original plan was not viable.

PD: This one might als

[2022-08-03 20:44] fmitjans commented on #168
I'll look into helping with the switch or other tasks, but I'm not sure I will get results so I'd rather not have any assignments yet.
That's very kind of you. Is it ok to talk on Telegram about the payment?

[2022-08-03 21:12] alaznem commented on #168
@fmitjans, thank you for being so responsive!

@Reckless-Satoshi : do you think it is worth it to sum up this issue for potential new assignees to avoid TL;DR? I feel that this issue has grown over a comfortable quick read and that the result is not really worth a full read (, but the path and space we took was necessary to come up with a good solution for sure). I could sum up before you start do

[2022-08-03 21:17] alaznem commented on #164
:information_source: This even gets annoying on a mid-high range Notebook after having an elaborated robot 2 robot talk. Probably with these reconnects you've mentioned above, @Reckless-Satoshi .

:hankey: The effect is that a well going conversation does wear-out because the underlying communication channel gets visible to the robots. Unsatisfying.

[2022-08-03 21:47] Reckless-Satoshi commented on #168
Yes, just write a private. Although, as always, it would be great if we have a way to make these rewards to developers transparently in an open space (always minding not revealing a sensitive node pubkey).

This would be great!

To be honest, I could simply get this task done fairly quick and save a lot of future back and forth, but then we fail with the mission of the rewarded tasks: to incentive

[2022-08-03 21:53] Reckless-Satoshi commented on #164
To this I can only say that RoboSats is not Tinder! :P "Be succinct, do not flirt"

We should aim to get this issue fixed to some extent, but be mindful we are using sort of heavy encryption that you rarely see used on instant communications (same used by Protonmail for emails). So reaching Whatsapp-like level of communication might be out of reach.

[2022-08-05 10:24] satsbaba opened #206 "Collaborative trades: To enable DCA like feature"
**Is your feature request related to a problem? Please describe.**
Many of fiat working robots here get their monthly paycheck. Now the robots have to do multiple trades each month to put in the same amount (given robot wants to do DCA). Today robots have to do multiple trades per month to convert that fiat into BTC spread over a month. There exists no way to have that these trades get squeezed in

[2022-08-05 12:12] louneskmt commented on #196
Yeah, looks like a full "hodl invoice" plugin needs to be written for Core Lightning. This is gonna be a bit too complex for me, so unfortunately I'm gonna have to drop this issue.

Happy to take care of the Robosats part if someone writes the plugin tho!

[2022-08-07 10:05] Reckless-Satoshi commented on #196
I think that building this plugin is a bit far from the scope of RoboSats.

Not familiar with Core-Lightning development, are plugins developed in the main repository? It seems so. I have found a couple explicit mentions to "hold invoice" in the tests ([link](https://github.com/ElementsProject/lightning/blob/ade10e7fc4dacbb9d635b05152c7dc38c0896ce7/tests/plugins/hold_invoice.py)) and an old thread

[2022-08-07 10:11] Reckless-Satoshi commented on #42
Bumping total rewards on this task x2 (from 1M to 2M Sats)

[2022-08-07 18:04] Reckless-Satoshi commented on #206
It's a cool idea! Would you mind to detail, step by step, how the entire pipeline could look? From "DCA contract formation" to each of the DCA trades?

We should be mindful that p2p trades always need user action (pay fiat to peer), so my concern is that we might not be able to add any automation to the DCA process at all.

All trades are "collaborative trades". I wonder whether we can find batter

[2022-08-08 09:23] firedev opened #207 "Order expired, LN still confirming"
**Describe the bug**
I opened an order 10938 on Aug 4th. It expired without a taker, but the LN invoice is still "Confirming" 4 days later.

**Expected behavior**
I expect the LN invoice to be canceled.

[2022-08-08 12:31] Reckless-Satoshi commented on #207
Hey @firedev

We usually do not mix the open project development with the current operation. For some sort of support the telegram @robosats is best :D

In any case, I can confirm this invoice was "CANCELLED" by the backend (2022-08-03 22:30:28). In addition, the expiry height of that payment was block 748,511 (already past). So even if RoboSats had failed to cancel that payment, your wallet shoul

[2022-08-08 12:42] firedev commented on #207
Thanks. I am using Muun, will bother them then.

[2022-08-09 17:44] ShatteredBunny opened #208 "Improve docker-compose.yml / setup.md"
**Is your feature request related to a problem? Please describe.**
Despite the single docker-compose file, it is still not easy to get started and there were quite a few pitfalls, at least for me

- `docker-compose build` copies the whole context and executes setup commands there, so they need to be run again locally (because the local files get mounted into the containers). This is mentioned in s

[2022-08-10 14:43] ShatteredBunny commented on #168
Hi, I'd like to do the task if it is still no high priority, may take a week or two

[2022-08-10 16:35] Reckless-Satoshi commented on #208
Hey @ShatteredBunny , thanks for going through this painful process and pinning down so precisely the fixes that are needed.

I wonder whether this is an issue after the first build? Usually no more builds will be needed in the dev workflow.

There is quite a bit of malpractice on that docker-compose and also in the `/docker/` Dockerfiles. Many of these are not needed and we could use the base ima

[2022-08-11 04:21] fmitjans commented on #195
I would like to work on this task

[2022-08-11 16:25] ShatteredBunny commented on #208
The GRPC files are only generated within the image, so the image would work after the build. But the local files are mounted above the files in the image, so at some point GRPC generation must be run for the local repository, either on the host or while the repository is mounted into the container. I chose the second option in the PR

Alternatively the grpc files could be placed somewhere where th

[2022-08-11 20:01] Tigerix commented on #44
Just tested Robosats with Electrum 4.3.0 on Testnet.
Everything worked flawlessly from offer to closing the deal!

[2022-08-12 16:13] ShatteredBunny commented on #75
What about adding Swagger/OpenAPI for documentation? Main benefits:
 - Frontend code could be generated including types
 - E.g. SwaggerUI would provide an up to date and interactive documentation

[2022-08-12 16:29] #208 closed

[2022-08-12 17:41] #168 closed

[2022-08-12 22:40] fmitjans commented on #195
Hi, I ran into a problem trying to use `withTheme` and `useTheme`.  Importing any of these functions from the `@mui/material/styles` module will result in the following error:

`MUI: withTheme is no longer exported from @mui/material/styles.`
`You have to import it from @mui/styles.`
`See https://mui.com/r/migration-v4/#mui-material-styles for more details.`

However, `@mui/styles`  is incompatibl

[2022-08-13 09:50] Reckless-Satoshi commented on #75
I have no experience myself with these and what are the benefits over plain Django Restframework. I've done a little research and looks like a good idea. Maybe the best tool for this is [Django REST Swagger](https://django-rest-swagger.readthedocs.io/en/latest/) ? It looks straightforward, what do you think? We could create a rewarded task for it.

[2022-08-13 09:54] Reckless-Satoshi commented on #44
Did you take both sides of the trade with the same wallet? If so we should update the table to confirm Electrum is fully compatible.

[2022-08-13 10:01] Tigerix commented on #44
Yes, both sides with Electrum!

[2022-08-13 11:08] ShatteredBunny commented on #75
I've also done a little research, django seems to be able to generate OpenAPI schemas, maybe that is good enough: https://www.django-rest-framework.org/topics/documenting-your-api/
So we could just add SwaggerUI to replace this issue (code as documentation, no need to update docs manually)

As mentioned in the drf-yasg readme, drf-spectacular uses OpenAPI 3.0 instead of 2.0 and is also actively ma

[2022-08-13 22:31] Reckless-Satoshi commented on #195
Hey @fmitjans ,

Thanks for implicitly taking over this task!

I will be giving it a try myself to this task, try to get around this issue with the dependencies and get done one example in the following days. I'm sure there must be a way around this problem :) Hope it is not tricky to find!

[2022-08-14 07:15] Lightning8Count commented on #206
Could it be done by using "keysend" on the seller side to "lock in" or "escrow" the number of sats required for the whole DCA transaction? For example if the buyer wants to buy $50 sats every Friday at 5pm for 1 month (4 Fridays). Then the seller escrows $200 worth of sats to robosats. The only issue as you say is there is the futures contract aspect to this that the seller would need to be compen

[2022-08-17 14:06] Reckless-Satoshi commented on #75
Would you make short bullet-point list of what this task might look like? Just to get a rough idea how much work implementing this would be.

I believe it is not as high priority as other rewarded tasks, but we could only put into it 100K to 200K Sats as a bit of an incentive.

[2022-08-17 17:16] ShatteredBunny commented on #75
Agreed, it's only for convenient development

Possible steps for this task:
### Backend
- [ ] Expose OpenAPI definition endpoint (JSON). If it is possible to do everything using Django restframework, that's best; otherwise e.g. `drf-spectacular` could be used
- [ ] Add UI replacing this issue, e.g. SwaggerUI
- [ ] Make sure the API definition is complete, in particular that all request and respons

[2022-08-18 13:43] Reckless-Satoshi commented on #75
I see all of these points are quite a bit of work. However, the generation of TypeScript code for the frontend and refactoring puts us one step closer to following best practices and can be seen as a prerequisite towards [RoboSats PRO frontend](https://github.com/Reckless-Satoshi/robosats/issues/177).

Documenting the API task as defined by @ShatteredBunny above is ⚡ **rewarded with 300K Sats** ⚡

[2022-08-19 22:35] Reckless-Satoshi commented on #195
Hey @fmitjans ,

Indeed, there does not seem to be any clear solution. MaterialUI v5 seems to have dropped support for withTheme (needed for theming class components. I gave a try to package @mui/styles to no success as well.
@mui/system can be used for functional component using the useTheme hook. a

[2022-08-21 11:08] KoalaSat commented on #176
Hi @Reckless-Satoshi I'm taking a look into this (first) issue.

I'm curious about the details of your discussion with the WebLN team. Also, I would like to understand if this work is just about integrating and testing the library so it can be used in future implementations or the idea is to make it work with the actual front-end.

[2022-08-21 14:51] Reckless-Satoshi commented on #176
Hey @KoalaSat ,

Conversation was very succinct. I got the impression that WebLN browser plugins might not yet support "pending" payments. Therefore, not allowing the frontend to advance to the next stage of the trade pipeline. There might be some hack we can do around it, but it is largely unexplored.

The idea is to work on a branch and make it work on the actual frontend with the expectation of

[2022-08-21 15:09] KoalaSat commented on #176
Thanks @Reckless-Satoshi ! I'll work on some tests and share my thoughts here, I'll try to do it incrementally.

[2022-08-21 17:46] openoms opened #214 "[solved] QtQr adds invisible characters front of the string in the QRcode"
Shared the robot code to mobile and different avatar came up without the ongoing trade.

Tor Browser on Android: 99.0.0b3 (11.5)

Latest Tor Browser on desktop + Brave was consistent with the original account.

Previously could recover the same account on mobile.

[2022-08-21 18:08] KoalaSat commented on #176
This is the output of my spike, I modified the code on `TradeBox.js` as you said and managed to connect Alby to send the invoice we receive from the back-end. The library expects BOLT-11 format so every seems to work at this point.

However I found a problem at this point but not the one we expected, looks like dealing with testnet with the available WebLN add-ons is a little bit complicated.

- A

[2022-08-21 18:55] Reckless-Satoshi commented on #214
Do you know what are the steps I should take to replicate this bug? In order to better identify this bug and fix it, it would be great if we can find a token (not the one you are using) for which this behavior is true (i.e., generates a different robot in desktop and mobile).

I assume you did good diligence before reporting, but are you sure the token did not corrupt while transferring devices? W

[2022-08-21 19:06] Reckless-Satoshi commented on #176
I'm surprised how quickly you have put this together :D

Indeed, an unexpected problem. It seems like the only way forward. as you mention, is to test on the mainnet platform. If you are using the ["frontend development only"](https://github.com/Reckless-Satoshi/robosats/blob/main/setup.md#frontend-development-only) setup, it should be as easy as pointing Requestly to the mainnet site. Given that

[2022-08-21 19:15] openoms commented on #214
steps taken:
* start trade on desktop, save token as offered (copy-paste)
* share token via Linux QtQR and Binary Eye on Android - confirmed the same visually.
* on Android the avatar and name is different reproducible with this code.
* the original account is recoverable on desktop.
Due to the nature of the trade will be able to share the robot token privately after finished.

[2022-08-21 19:40] Reckless-Satoshi commented on #214
I was able to replicate your issue, I am puzzled. These are my findings: Linux QtQR generates a QR whose token is different.

Using the following QR encoding software solved the issue for me:
[code]
QR code generated by QtQR:
![qtqr](https://user-images.githubusercontent.com/90936742/185807946-23da2abf-337d-49e5-b29a-32d7fbff9484.png)

QR code generated by `qrencode`:
![token](https://user-images.

[2022-08-21 20:04] KoalaSat commented on #176
You did a great job with that `setup.md` file 😄

-----------

I already had this ready to check on mainnet, I was just waiting for your toughs about it. This is the workflow I have implemented using Alby.

1. The app checks if the `webln` library exists, if it does and it's the first time, the extension opens and ask for permissions
![Image](https://user-images.githubusercontent.com/111684255/1858

[2022-08-21 21:13] Reckless-Satoshi commented on #176
As far as I can see the behavior is almost identical to any other Lightning Wallet, which is great! ( all of them have some quirks with hodl invoices as detailed in https://github.com/Reckless-Satoshi/robosats/issues/44)

The extension will never be able to know it is a hodl invoice and treat it differently. But it might suffice with the fact it shows a never ending spinner, as long as, it allows

[2022-08-21 21:47] Reckless-Satoshi commented on #214
Assuming the issue is exclusive to QtQR, maybe the best solution is to simply avoid this tool and document it. This problem might also occur and be very annoying if you use it to copy a password or a BTC address to your device.

I tested whether this hypothesis is true by sending a txid from mempool.space to the Android device:
1. Find a txid hex in mempool.space
2. Generate a QR code with QtQR an

[2022-08-21 22:07] openoms commented on #214
This is scary as I was using QtQr occasionally for various things including sharing invoices and PSBTs. Well won't do it any more. Likely other projects would benefit from a warning as well.

Regarding the example QRs above Binary Eye does display the problem in the hex representation and showing empty characters et the beginning of the token:

![5cc3cc37-27d7-40f3-826a-a2ba2caaab17](https://user-

[2022-08-21 22:15] openoms commented on #214
Clearly not a problem with Robosats, renaming and happy to close.

[2022-08-21 23:34] #214 closed

[2022-08-22 15:11] KoalaSat commented on #176
I created the initial PR https://github.com/Reckless-Satoshi/robosats/pull/215 , happy to hear suggestions, for sure we might want to review the messages.

[2022-08-23 10:29] KoalaSat commented on #134
Is there any preference on the charts library?

I have good experiences with https://nivo.rocks, it add a really good abstraction layer to d3 yet it still allows you to go as custom as you want.

Specifically I think a Line will do a good fit with this case:
- https://nivo.rocks/line/
- https://nivo.rocks/storybook/?path=/story/line--stacked-lines
- https://nivo.rocks/storybook/?path=/story/line--

[2022-08-23 10:58] KoalaSat commented on #134
Also, I believe this is going to kill the back-end if we don't implement WebSockets, I did a quick research and looks like it's possible to run it over TorNet https://gist.github.com/TooTallNate/6253581

[2022-08-23 19:21] Reckless-Satoshi commented on #134
Something pretty and easy :) This is a very creative task, imposing a library wouldn't make sense.

Are you sure? I was not thinking of a realtime graph. I had in mind maybe use the very same orders fetched when you open the order book, to add a pop up graph to it. Open to anything in this regard, I am not even sure whether this book depth chart might fit best :)

However, if WebSockets are really

[2022-08-23 21:18] KoalaSat commented on #134
I had a quick look into the API, can you explain what `type` is? It looks like on the book page only `2` is being used.

Also, if we want to create a global depth book we'll need a exchange rate, I see on the backend you are using `blockchain.info` and an alternative, does it makes sense to make this request on frontend for this purpose?

I have other thought about exchange rates I would like to s

[2022-08-23 22:13] Reckless-Satoshi commented on #134
Sounds great!

There is no good reason, but there are some reasons :D A synchronous REST API base trade pipeline was easier to implement as a demonstration for a newbie like me. I had too much on my plate to jump straight into mind-breaking async python. After all RoboSats was just a reckless prototype/demo back then. The REST endpoints simply proved to work well and reliably (unlike the chat that

[2022-08-23 23:51] Reckless-Satoshi commented on #134
https://github.com/Reckless-Satoshi/robosats/blob/f2f6309ed19f8e35310e6c2b485af17a99a5a5a7/api/models.py#L267-L269

Type 0 to fetch only "BUY" orders, 1 to fetch only "SELL" orders, 2 fetches everything.

[2022-08-24 08:08] KoalaSat commented on #134
What about exposing this function...
https://github.com/Reckless-Satoshi/robosats/blob/5281176e3c233871da9a3f6ea6552489ff12aa76/api/utils.py#L68
...on an endpoint and use Robosats as proxy? I see the response is already cached for 3 seconds, so even better.

You nailed it, sorry if it wasn't clear. I assumed the amount of every order is on his original currency, if this is true, we need a way, as

[2022-08-24 12:56] Reckless-Satoshi commented on #134
This would work just great. We also could just serve a new endpoint similar to `/api/limits/` but only with the `price` key

Exactly, that would be the best way to do it.

Requesting with `type=2` gets you everything. The Order Book on the frontend is requested with `type=2` then it is filtered by the BookPage. Initially it used to make a different request every time the filter changed, but it fel

[2022-08-24 15:47] KoalaSat commented on #134
This is exactly what I need, thanks!

[2022-08-24 21:05] KoalaSat commented on #134
I have been playing with the data, I can't believe I had so much fun with this 😄

I wanted first to work on the data formatting so the screenshot bellow just uses nivo's default plot line chart. And after a mind blowing back and forward, this is the data I managed to generate:

![image](https://user-images.githubusercontent.com/111684255/186522700-9f2bfe50-1eae-4c60-a7ff-53299b847377.png)

I lost

[2022-08-24 23:50] Reckless-Satoshi commented on #195
Hey @fmitjans , I wonder whether you are looking into this task. Should I assign you (no pressure, drop out if you want) so other devs can see someone is on top of this task already?

[2022-08-25 09:32] Reckless-Satoshi commented on #176
PR merged. Thanks a lot @KoalaSat ! :rocket:

[2022-08-25 09:32] #176 closed

[2022-08-25 09:48] Reckless-Satoshi commented on #134
Woah, that's looking fantastic!

The chart shape was to expect, there is overlap between between bid/ask prices :)

Between a point in the chart and the next one, there is a slope, yet usually Book depth charts have "steps". I painted in dark red what I mean:
![chart-steps](https://user-images.githubusercontent.com/90936742/186632931-b12076c9-84b9-4bb7-9e74-1003b7c0a4e0.png)
I guess this is an eas

[2022-08-25 10:14] KoalaSat commented on #134
Doesn't `order.price` already includes the premium? 🤔

[2022-08-25 15:08] Reckless-Satoshi commented on #134
Yes. Both charts might look identical (maybe not). But users might find the X axis expressed as % very informative (I would like to see it :D)

[2022-08-25 22:15] fmitjans commented on #195
Ok, sign me up

[2022-08-25 22:49] Reckless-Satoshi commented on #195
Please continue working over it :)

[2022-08-26 10:23] KoalaSat commented on #204
I found this guide https://bitcoin.design/guide/savings-wallet/, for sure there is a lot of unnecessary (for Robosats) steps, but I believe that would be a great source of inspiration together with the video

[2022-08-27 23:12] fmitjans commented on #195
I have a few question about the botom bar, which right now has fixed width and position:
https://github.com/Reckless-Satoshi/robosats/blob/0e41f6c71d3525eb65286a2059a934114a6f40e4/frontend/static/css/index.css#L61-L66

1. How should the bar width behave when zoomed in? If the width is kept at 100% while the elements inside grow, they get cramped and overlap. Alternatively, the bar can be allowed t

[2022-08-30 18:49] #134 closed

[2022-08-31 20:09] Reckless-Satoshi commented on #190
As pointed, we launched a few days ago a robosats-client app as a docker container that is well suited for those running sovereign nodes ([DockerHub](https://hub.docker.com/r/recksato/robosats-client)). It's only the client, but believe it fits very well Embassy too.

Let's work towards including it on Embassy. I am sorry I am not very familiar with the Embassy ecosystem. What are the steps to fol

[2022-08-31 23:44] kn0wmad commented on #190
Yes, absolutely.  Dockerization and Tor connections are usually the hardest parts, so it should not be a problem.  We have dev docs, located [here](https://start9.com/latest/developer-docs/).  The process is accurate, but I am currently in the process of simplifying and updating to include our latest best practices.  Any feedback would be massively appreciated.  In future, service packaging will b

[2022-09-01 07:05] Reckless-Satoshi commented on #190
Very clear instructions here. I see we can skip directly into [5 - Create Manifest](https://start9.com/latest/developer-docs/build-package-example/05_create-manifest.html). Unfortunately I won't have time for this in the next few weeks.

[2022-09-01 21:08] KoalaSat opened #224 "Move the most recent value in sats of an order calculation to the backend"
**Is your feature request related to a problem? Please describe.**
As discussed in https://github.com/Reckless-Satoshi/robosats/pull/219 we want to move the most recent value in sats of an order calculation to the backend.

**Describe the solution you'd like**
I found these 2:

https://github.com/Reckless-Satoshi/robosats/blob/eff58dc91d93fe98a6738e0e3898ed2a476d2ebc/api/models.py#L382
https://git

[2022-09-02 05:30] Reckless-Satoshi commented on #224
Indeed, we keep track of t0_satoshis (simply noting them down). It might be truem that after that, t0_satoshis sees no use, altough, their intended use was to for validation that the order is not larger than the max order allowed (we might have used `last_satoshis` as it made no difference)

`last_satoshis` is only updated in the few requests that need them to be updated at the moment. That is: wh

[2022-09-03 17:07] BrodaDemi commented on #204
Hi guys, so I came up with a few page redesigns. Would love to have your feedback on them.
Here's a link to the Figma file: https://www.figma.com/file/F431OdSfLfjwa912j0U7yx/ROBOSATS?node-id=114%3A16609

[2022-09-04 15:13] KoalaSat commented on #224
I have been revisiting this proposal, and I'm staring to consider I was wrong about the need of having `satoshis_now`, as you asked, there is no need to have the amount of satoshis now, since it's not affected by the actual price but by the amount at the asking price.

Correct me if I'm wrong but I would say it's better then to keep that division on the front-end for the chart.

[2022-09-05 06:56] fmitjans commented on #204
I think the Figma page looks great! Two improvements I think are worth implementing from the review video are:

1. The page shouldn't generate an avatar until the user chooses to, in order to avoid confusion and to make more clear that the avatar shown is the result of a randomly generated token (or a restored one).
2. The order book should be accessible before needing to generate an avatar, so th

[2022-09-05 07:02] KoalaSat commented on #224
I also found we print the `satoshis` attribute, this time for this one it's always `null`, what's the use for this one @Reckless-Satoshi ?

[2022-09-05 22:55] Reckless-Satoshi commented on #224
The `satoshis` attribute is only used when the order pricing method "is explicit". That is, for orders where the amount of Sats are specified on the Maker Page instead of a premium over the market.

[2022-09-06 03:37] n-ochs commented on #204
I'd love to take on the redesign task. I have plenty of MUI (v4 + v5) & React experience. Will this issue be updated or a new one will be created after a design is approved?

[2022-09-06 04:59] BrodaDemi commented on #204
Hey Fmitjans, those are really valid points, and things I’ve taken into consideration.

1. A part of the redesign is adding a bit of personalization that way the users get to feel like they’re a part of the decision making process.

2. I already implemented no 2 in the redesign. Immediately users jump into the dashboard, avatar or not, they immediately get to see the relevant datas and order book.

[2022-09-06 09:13] KoalaSat commented on #42
Hello @Reckless-Satoshi ,I think I can start with fixing react-router

[2022-09-06 19:40] Reckless-Satoshi commented on #42
Assigned you. This task is pretty hard for a newbie like me.

Will leave here some hints that @hsjoberg left on the Blixt wallet group to achieve a torified webview:

[2022-09-06 22:05] stakingpoolspace opened #227 "Copy button in the Profile Dialog does not work on Tor"
**Description**
After starting a session on Tor and opening the Profile Dialog (bottom-left corner), the copy button (to copy the token) does not work. While the copy button on the home screen (UserGenPage) _does work_ on Tor.

When I run the frontend locally (in an attempt to fix the issue), the copy button in the Profile Dialog does work.

**To Reproduce**
1. Go to http://robosats6tkf3eva7x2voqs

[2022-09-06 23:25] Reckless-Satoshi commented on #227
Interesting. Indeed, I can replicate this behavior, but only in Brave w/ Tor on Windows.

Long story short, browsers do not want to allow you to copy from insecure contexts (HTTP instead of HTTPS). Since TOR browser is thought for .onion (most being HTTP), there is usually no problem with copying to clipboard, as it considers these contexts as secure. However, any other browser simply won't allow

[2022-09-07 08:25] #227 closed

[2022-09-07 08:34] stakingpoolspace commented on #227
Thanks for the quick reply! After some playing around with the clipboard.js code, I might have found a solution. I have commented out the if/else statement to only work with the code in the else statement. Without my changes the copy button in the Profile Dialog does not work, but with a few additions it does work:

[code]

I'm not sure why, but the code needs both the
[code]
and
[code]
to work in

[2022-09-07 11:19] Reckless-Satoshi commented on #204
Hey @BrodaDemi

This is **top work**. Thank you very much for this inspiring work. I think it is beautiful, congratulations!

### Comments

I find some trouble conceptualizing how this design fits within the current app and how actionable it is. I would try to summarize as briefly as possible:

- Currently RoboSats is "an app" with a focus on mobile devices. Your design is great for a portal/websi

[2022-09-07 11:20] Reckless-Satoshi commented on #204
That's amazing! I am assigning you in this Issue. But indeed, we will probably create a new Issue once we settle for something actionable.

[2022-09-07 21:17] Reckless-Satoshi opened #228 "[Draft] Roadmap for RoboSats Federation"
## Introduction
At the moment, anyone can spin up a new RoboSats instance. It's free source code and that's how it should be used. However spinning up new instances leads to two issues: 1) further fragmentation of an already very thin p2p market and 2) lose of revenue for further platform development (operation becomes detach from code maintenance).

Currently there is a single RoboSats coordinato

[2022-09-07 22:12] BrodaDemi commented on #204
Hey @Reckless-Satoshi

Amazing take and comments. That really gave some sort of insight into what exactly I'm working on. I started the redesign process after talking to Christoph and also watching Bosch video where they gave their reviews on the site, in terms of UX and UI. The conversation was heavily geared a web/desktop redesign. This is my first time of hearing that there's an app somewhere.

[2022-09-07 22:15] BrodaDemi commented on #204
So I get that my focus now will be on the mobile app in regards to specific areas. My question now is that where can I get the app to go through it? cos I use an iPhone so is It downloadable?

And just a design thought now yeah, I realised we could sell the app more on the site cos just as I was clueless about robosats having an app, I'm sure thats how most users are too. but first things first, h

[2022-09-07 23:37] Reckless-Satoshi commented on #204
We have an .apk for Android https://github.com/Reckless-Satoshi/robosats/releases/tag/android-b4fac4c , but this is not needed. The easiest way to experience the mobile UI is to use Tor Browser on Android or Orbot + Safari on Iphone. Then access robosats6tkf3eva7x2voqso3a5wcorsnw34jveyxfqi2fu7oyheasid.onion, should be a similar experience as installing the app (if anything, the viewport of the ins

[2022-09-08 14:07] Reckless-Satoshi opened #230 "Onchain P2P pipeline as Taproot/MAST contract"
Implement a new trade mode for full onchain escrow. Compared to the current LN mode, it will allow for larger trades, fully trust-less pipeline and higher safety assurance (zero custodial risk). It will also allow users to sell Sats directly onchain (requested feature).

The onchain TR/MAST pipeline is potentially useful and wanted for other platforms such as Peach (@Czino) or Hodlhodl. In additio

[2022-09-08 14:35] redphix commented on #75
Hey I want to take a dig at this! One question though.

Does this mean automatically fetching all routes and writing handlers/functions ? Also auto defining TS models for request/response schemas?

[2022-09-08 15:21] BrodaDemi commented on #204
Can you send screenshots

[2022-09-08 15:49] ShatteredBunny commented on #75
My idea was that you start the backend with openapi endpoint and then run the generation command which fetches the definition and generates the code

I already played a bit around, you can have a look at my fork, branch api-docs. In the package.json is a generation command. Code is generated and I tested usage with the stealth invoice endpoint. The definitions are incomplete though and I don't kno

[2022-09-08 15:52] ShatteredBunny commented on #75
I'd like it but then it belongs into another repository?

[2022-09-08 15:56] redphix commented on #75
Yes. Was thinking the same, but do we want it is the question? Definitely makes it easier for people writing their on frontends bots to quickly use the library. Thoughts @Reckless-Satoshi ?

[2022-09-08 16:24] redphix commented on #75
Nice! There should be a way to get the yaml without running the backend I guess right? After all it's all static, so it should be plausible(?)

[2022-09-08 16:46] ShatteredBunny commented on #75
Theoretically, not sure. But is this necessary? Once in production one can also get the yaml from there

[2022-09-08 16:50] ShatteredBunny commented on #75
Agreed, and it's only ts, useless for other programming languages

[2022-09-08 17:03] redphix commented on #75
Yes. you don't want to depend on production which is an external source. Say you were developing a new feature that made you change some endpoints or add new endpoints, that certainly won't be available on production. idk the extra step of "run the django server before running 'generate-api'" seems to be a little "coupled". We should make it such that we can build the frontend in a static way. i.e

[2022-09-08 17:24] redphix commented on #75
Btw, @ShatteredBunny, don't want to nab this issue from you. If you have already started and were planning to do this anyway, you can take this up :)

[2022-09-08 17:59] ShatteredBunny commented on #75
If you're changing the API you must run it anyway to test it, if you're developing another client, production would be fine
I don't see a great benefit but if you can find something, why not

[2022-09-08 18:03] ShatteredBunny commented on #75
Feel free to do it, I intentionally did not get me assigned :)

[2022-09-08 19:41] kn0wmad commented on #190
I went ahead and started a RoboSats room in our Matrix:  #s9-testing-robosats:matrix.start9labs.com

and a template repo, which you can copy or fork (for credit purposes):  https://github.com/kn0wmad/robosats-wrapper - this is just a skeleton at this time

[2022-09-09 07:29] Czino commented on #230
Some thoughts regarding (1)

Naturally the escrow would need to be a 2-2 between seller and coordinator. The buyer is a bit at the mercy as the buyer doesn't hold any of the keys. This can be mitigated by handing out a presigned (by coordinator) release transaction to buyer and seller.

We are also looking into a timelocked escrow solution where the script is a regular multisig. To guarantee the s

[2022-09-09 18:42] domrishe commented on #204
@Reckless-Satoshi I put together a figma sketch of some ideas based on the community crit a while back. Basically I tried to maintain the ethos I think you guys are going for (simple/robots/playful) in mind so I made sort of a separate flow for people who are first-time users to keep the actual tool super simple and clean for repeat users. New users get a little walk-through of the process. Also a

[2022-09-09 19:05] Reckless-Satoshi commented on #230
I see, this is clever. I understand Peach wants to optimize for best UX of the order taker, so (1) is preferred as there is no block confirmations to wait for. Unfortunately it involves a bit of trust (... hence it may carry some ~mafia~ regulatory risks). Question: Isn't the seller in this 2-2 with timelock also a bit subject to the mercy of the coordinator?

I guess you guys might still be very

[2022-09-09 20:49] BrodaDemi commented on #204
Hey @domrishe this is a really cool onboarding flow. Can we collaborate to make this much more aesthetically pleasing?

[2022-09-10 13:51] #224 closed

[2022-09-10 17:35] Reckless-Satoshi commented on #179
Closing as this issue was very general and got stagnant. Better to open a new issue with concrete ideas or requests for features.

[2022-09-10 17:35] #179 closed

[2022-09-10 18:07] Reckless-Satoshi opened #237 "Add matchmaking system"
**Is your feature request related to a problem? Please describe.**
While uncommon, makers might create orders that already have an exact match in the book. A light matchmaking system similar to that of Peach can help gamify a bit more the experience and help users find offers.

**Describe the solution you'd like**
I envision the matchmaking could take place in two ways.

The **straightforward way

[2022-09-10 18:22] Reckless-Satoshi commented on #204
To be honest I think it is important that you use get to experience the current version and complete some trades (you can do it in your phone with testnet BTC accessing unsafe.testnet.robosats.com).

I'm strongly supporting this collaboration!

Just a recap of some points we have found to be key for improving the user flow:

- First thing a user sees is the order book.
- The avatar robot generatio

[2022-09-11 07:42] kimoraku opened #238 "Name and ava not refreshing after generating new robo token"
**Describe the bug**
Name and ava not refreshing after generating new robo token

**To Reproduce**
Steps to reproduce the behavior:
on the robot token page:
1- your first name appears + random token number associated with it (example: SecuredPot6  / Q6luTVmChTUvIJ0k8ZLAUha8vuWpBMTG9ZFt )
2- you don't like the name, and the user hits the dice-icon to re-generate a token
3- A new token number is pre

[2022-09-11 13:34] KoalaSat commented on #42
@Reckless-Satoshi I think the main point on loading the local bundle is based on this line, but the URL doesn't seem to exist anymore 😅 Any other suggestion? do you think should I just start from scratch?

[2022-09-11 18:05] Reckless-Satoshi commented on #42
I think this URL only was interesting because it was a general solution that would work in both Android and iOS. I managed to access the content on that URL [exported as PDF here](https://github.com/Reckless-Satoshi/robosats/files/9543222/Load_SPA_inside_WebView.pdf)

[2022-09-11 21:38] Reckless-Satoshi commented on #238
Indeed, while the first robot is generated without user input at all once the app loads, any subsequent robot avatar generation is comprised of 2 step:
- Step 1. Enter your new token: it can be some keyboard input; a past token (recovery); or, a randomly generated token by your browser (click the Dice button).
- Step 2. Submit the new token for robot generation (Click "Generate Robot" button)

As

[2022-09-12 15:04] satoshibug2008 commented on #228
Hello  @Reckless-Satoshi , I so happy to see that Robosats is going in this direction. I have some doubts that I want to address:

1. The definition of Coordinator and Operator is same person, why this distinction is being made? It makes it more confusing.
2. There is no mention of the different fees structure that the Coordinator or Operator can impose and how frontend will address that info from

[2022-09-13 00:25] BrodaDemi commented on #204
https://www.figma.com/file/F431OdSfLfjwa912j0U7yx/ROBOSATS?node-id=418%3A2334

@Reckless-Satoshi Hey, I want you to check out this designs and give me your feedback. Also, I'm having trouble visualising how the back up option will work. Would it be in form of an export to cloud thing, or download to computer, etc. I would need you to share more light on that.

For the recovery button too, how does

[2022-09-13 08:18] Reckless-Satoshi opened #241 "Implement automated versioning, releases and version mismatch checks."
**Is your feature request related to a problem? Please describe.**
There is one tagged released of RoboSats (v0.1.0-MVP). After this release, given how fluid back and frontend have been, there has been a continuous delivery of every new small fix. Images have been tagged with a short commit hash. This works well since the application only runs on the server and the client downloads the latest fron

[2022-09-13 13:17] domrishe commented on #204
@BrodaDemi I don't really have any more bandwidth to put towards this effort at the moment, but please feel free to use or add anything from my figma file. Looks like you've got a good direction from here. Lmk if you have any questions about what I put together

[2022-09-13 22:44] Reckless-Satoshi commented on #204
It is _Copy to Clipboard_ or _Download Text File_  button, those are options to store token string. The recovery is as simple as "input your token". I want to reiterate it is very important to have some experience as a user on the current version in order to understand what needs to be improved and how to improve it. Robot tokens are somewhat unique to any other website account. They are to be use

[2022-09-14 11:38] Reckless-Satoshi commented on #228
I think so far we have been using both in some communications (mostly on Telegram). However, both are the same. Let's stick with "Coordinator" and deprecate the use of "Operator".

Indeed. Probably a Tooltip should show on click/hover over the Coordinator logo showing the parameters that coordinator runs (`/api/info/` endpoint).

Agree. It's a must, however not strictly necessary to start decentra

[2022-09-14 12:50] BrodaDemi commented on #204
okay @Reckless-Satoshi

[2022-09-18 19:50] KoalaSat commented on #42
I have been working on this and I would like to share what I have learned so far and expose the actual situation I'm facing. I explored 2 different ways for doing this, each of them with their own issues, so I'll try to expose them here the best I can:

# Loading the JS through Tor

I have been trying to make this work, but looks like webview doesn't really likes to deal with directly Tor, there i

[2022-09-18 20:59] Reckless-Satoshi commented on #42
Thanks a lot for this update and the work you are putting into getting the Android app done!

I believe bundling the react.JS app inside the Android app is the way to go.

The fact that backend and Android app will have to be versioned and updated at the same time is already contemplated https://github.com/Reckless-Satoshi/robosats/issues/241 . We will hardcode the verison of the react.JS app, and

[2022-09-18 22:07] Reckless-Satoshi commented on #204
Just a heads up that it will take me a bit longer :`)

[2022-09-19 07:33] KoalaSat commented on #42
For the record and answering @Reckless-Satoshi I'll leave here the issues I'm working on:

## Cookies not available on local files
https://github.com/react-native-webview/react-native-webview/issues/2643#issuecomment-1250315133 It seems to be an issue on `react-native-webview`. When loading the build suing `Web.bundle`, cookies are not available.

### Working on Solutions
Using https://github.com/

[2022-09-19 08:49] KoalaSat commented on #42
I also found this https://github.com/Sifir-io/react-native-tor/issues/30#issuecomment-891060913, which is true for my local, I just thought it was related to my connection.

[2022-09-19 16:12] kn0wmad opened #249 "Authentication that does not require CSRF tokens"
This is unfortunately required for LAN access on Robosats for Embassy

[2022-09-19 16:33] Reckless-Satoshi commented on #249
Thanks for reporting and the work to put RoboSats App together for EmbassyOS.

HTTPS access from not whitelisted domains are blocked by the backend, unfortunately white-listening all origins is not a good idea.

Given that we are storing the Robot Token in cookies, we might want to rethink authentification all together. I am not sure what would it take and whether this is safe, but maybe sending t

[2022-09-19 22:52] Reckless-Satoshi commented on #42
Excellent work! This "torification" is certainly proving to be way more challenging than expected (... and the expectation was for it to be very hard).

Ha! We can simply open an issue in react-native-tor repo and do nothing to fix it for the moment: Android app users won't be able to disable Stealth Invoices, not a big deal. However, we wanted to use more PUT on API v1, it's good to know this is

[2022-09-20 07:31] KoalaSat commented on #42
https://github.com/Sifir-io/react-native-tor/issues/51

[2022-09-20 17:39] #241 closed

[2022-09-24 16:20] Reckless-Satoshi commented on #204
Hey @BrodaDemi @domrishe , I do not know how to best proceed.

The issue we are having is sub-optimal communication, due to the fact I cannot annotate or edit Figma (also, Figma is not actionable, the dev will have to redo the work again). Drafting a UI on Photoshop is just not feasible as far as I have been trying: would be easier to just implement it in code. I have also tried to make a sketch w

[2022-09-27 14:22] redphix commented on #249
This is perfectly timed. I was actually looking into authentication for API users. This is certainly needed for API users as well and to also mention in the openapi docs on how to authenticate requests  for users and let them use routes that need authentication (/make, /order, etc.) (PR #243). Will look into it a bit more and update if I have some useful insights.

[2022-09-28 06:59] KoalaSat opened #257 "Send token to clipboard on Android"
**Is your feature request related to a problem? Please describe.**
As part of the Android first functional apk, we want to be able to send the user token to the phone's clipboard.

**Describe the solution you'd like**
The same way we implemented `ApiWebClient`/`ApiNativeClient`, we must create:
- `SystemWebClient`: It includes the actual code to copy the token to the clipboard
- `SystemNativeClien

[2022-09-28 08:01] KoalaSat opened #258 "Persist Data on Android"
**Is your feature request related to a problem? Please describe.**
As part of the Android first functional apk, we want to be able to store data as we do with cookies on web, but using Android's persistent storage.

**Describe the solution you'd like**
The same way we implemented`ApiWebClient`/`ApiNativeClient`, we must create:
- `SystemWebClient`: It allows to get/write/delete data from cookies
-

[2022-09-28 15:14] Reckless-Satoshi commented on #258
Hey KoalaSat,

Indeed, there is quite a few checks the app performs synchronously in several components to detect whether the user has an active robot. It would have to be adapted.

I think this approach is perfect. Once the `SystemWebClient` / `SystemNativeClient` libraries are in place, there is a lot of functionality that can be extracted from them on top to just cookies. For example have persi

[2022-09-28 15:17] Reckless-Satoshi commented on #42
Closing this issue. Current steps towards Android torified app in https://github.com/Reckless-Satoshi/robosats/issues/258 and #257

[2022-09-28 15:17] #42 closed

[2022-09-29 07:51] KoalaSat opened #261 "Websockets using Tor on Android"
**Is your feature request related to a problem? Please describe.**
As part of the Android first functional apk, we want to be able to create websockets with the server trough the Tor network.

**Describe the solution you'd like**
Extend `ApiWebClient` and `ApiNativeClient` to be used for creating sockets
- `SystemWebClient`: It contains the actual sockets connection implementation
- `SystemNativeC

[2022-09-30 10:46] redphix commented on #249
I think we can either:
1. Keep the cookie based auth, but also enable a token based authentication using either DRF's [builtin Token Authentication](https://www.django-rest-framework.org/api-guide/authentication/#tokenauthentication) or [Django REST knox](https://github.com/James1345/django-rest-knox) (which drf themselves recommend as well for more capabilities)
2. Completely move away from cooki

[2022-09-30 14:12] Reckless-Satoshi commented on #249
I would favor a unique general solution for both the project frontends and custom tools developed by users using the API. The token authentication looks best.

Any idea on whether we could override the tokens of DRF / or Django REST Knox? Given how RoboSats robot identities were designed, users are already doing token authentication at least once by submitting the hash of their token to generate o

[2022-09-30 14:41] redphix commented on #249
I don't see why not. At the end of the day a token is just a random string and the hash of the token is perfectly fine for this if we trust our over-the-wire protocol, but if we don't, see below.

And that simply is that - Sending the `hash(token)` for every request has drastically increased your attack surface (i.e the more the requests go over-the-wire, the more chances of MITM, Request Forgorie

[2022-09-30 14:47] Reckless-Satoshi commented on #249
Understood! Thanks for the explanation.

I believe TOR network communication to Onion services should be at least as secure as SSL. In addition, our robots are in any case ephemeral (you should not reuse them and they last about as much as an order 24-48h must). I think probably using only `hash(token)` is as secure as using `hash(token) + `bearer-token`, plus it is more private and will be faster

[2022-09-30 14:55] redphix commented on #249
Certainly. Stateless and Private.

Which means throwing out the idea of user rating and reputation forever? I have a robot that trades with me every week. Will I not see him ever again? :crying_cat_face:  . On a serious note, seems like people like re-using tokens. And maybe the reputation thing is actually worth it(?) when number users increase?

[2022-09-30 20:19] KoalaSat commented on #249
Hello guys I'm just passing through this interesting conversation.

 I'm not sure if maybe I'm saying the same thing as @Reckless-Satoshi. But if the idea is to totally relay on who the client says to be, what about using as bearer token the signed JWT with the public key + sha256 of the request? Or maybe that's what you call `password`? Sorry for messing around but I'm the newbie here 😄

[2022-10-01 03:59] redphix commented on #249
@KoalaSat JWT is not a bad idea either. It makes a system completely stateless i.e even a db of users is no longer required. The server can issue tokens and later trust the singed jwt token fully. But I think it would be a little overkill as we already have a database of users and we manage their state ourselves on a single backend. JWT is mostly used when the authentication/identity server is dec

[2022-10-01 07:02] KoalaSat commented on #249
@redphix but you don't need the server for validate it's the same person, basically you, as a server should be able to identify all requests made by the same signer:

1. You have a token
2. With ticket you generate a secret - public pair
3. And now let's say you wanna make a request with a payload:
[code]
4. You add to the payload the public key:
[code]
5. You encrypt (sign) the hash to a JWT  wit

[2022-10-01 07:20] KoalaSat commented on #249
Thinking again, instead of the payload you can just include the sha256 of that payload, so you can easily validate it on the server without affecting the size of the request
[code]

[2022-10-01 11:27] Reckless-Satoshi commented on #249
Yes, with confidence it will and it is for the better. Not the right topic to develop on this issue, but I will elaborate for future reference.

Reusing identities is a bad idea no matter how one looks at it. Bad privacy for the user. Unnecessary data to hold for the coordinator: can be used to learn about real user identity of robots and therefore makes the coordinator a target for hacks or attac

[2022-10-01 11:34] Reckless-Satoshi commented on #249
I do not see anyway around needing a User model :thinking:

[2022-10-01 14:06] redphix commented on #249
Yes, not for our architecture, I meant that for architectures that have decoupled identity systems and the user db is another server somewhere else and doesn't know about other services. :sweat_smile: The current backend heavily relies on the user table, so that example wasn't meant for RoboSats.

[2022-10-01 14:08] redphix commented on #249
That makes sense! I was vouching for the reputation system, but I guess it's not worth the privacy trade-offs.

[2022-10-01 14:44] redphix commented on #249
@KoalaSat  might have not understood you completely, but I believe you showed an example of login flow? Yes, that's how It would probably be done (there are myriad of ways to do it) but I don't see the upside of adding an overhead of wrapping the token in a jwt and signing and checking it for each request. At the end of the day, you are just wrapping a token inside of a token. If either (ie. jwt t

[2022-10-01 15:39] Reckless-Satoshi commented on #238
Closing since this issue will be worked on in the new landing page.

[2022-10-01 15:39] #238 closed

[2022-10-01 15:47] Reckless-Satoshi commented on #261
Referring to the only part of the app that is WebSockets only: the chat, right? I link here the relevant thread https://github.com/Reckless-Satoshi/robosats/issues/175

If WebSockets were possible we could create a new notification consumer for push notifications.

Let's make implementing WebSockets over Tor on Android a rewarded task. It is unclear the amount of time and effort needed so let's ma

[2022-10-02 18:02] #75 closed

[2022-10-03 08:08] Reckless-Satoshi commented on #249
This issue was closed as collateral damage of merging PR #243, but it is yet to solve.

[2022-10-03 17:42] redphix opened #266 "Refactor API Design (API v1)"
**Status: Draft**

This issue aims to document and outline a new refactored API design for Robosats (API v1) with some improvements and discussions about changes.

### Routes Overview

- **`/robot`**
  - `POST /robot` - Get me a new robot (conventional `/login` route)
  - `GET /robot`  - Get your robot info (conventional `/profile` route)
  - `PATCH /robot/preferences` - Update your preferences (t

[2022-10-04 10:42] Reckless-Satoshi commented on #266
Hey @redphix

Thanks a lot for the time to review the current state of the backend and hit back with such a concise plan for enhancement. The backend/API has certainly gotten very little love since the first two weeks of prototype development.

It is in fact a good moment to start sticking to other best practices (write unit tests!) and solve some of the base core issues we have been dragging sinc

[2022-10-05 21:14] KoalaSat commented on #261
Sorry I missed the last time this last sentence, yeah, I'll work on it right after we close the persist data issue

[2022-10-06 05:31] redphix commented on #266
Agree with the additional three points you mentioned. I really like the idea of baking the logics into the model. I see all these points being a good amount of work in themselves and being split into individual tasks, fully agree. The more I look into the work required, the more I feel it's going to to take multiple organized tasks to accomplish :sweat_smile:

Biggest point I was concerned about a

[2022-10-07 13:44] Reckless-Satoshi commented on #266
I am not very versed into Semantic Versioning. But I had the understanding that while major version is 0 (i.e, beta or under development), minor versions can introduce backward incompatible changes.

The Dialog fires in any frontend and let's the user know how to update (install the new node app, download the new Android APK, or force refresh Tor Browser)

Indeed, getting to API v1 is a lot of wor

[2022-10-07 14:10] #257 closed

[2022-10-07 17:57] redphix commented on #266
Definitely :yum:

Would love to!

Will organize and create tasks soon!

Was  curious, can you give permissions to other users to be able to create new projects/boards (not too familiar with the project features of GH) or is that something possible only for organizations?

[2022-10-08 01:01] Reckless-Satoshi commented on #266
That's really great to hear! :rocket: :

Projects get created on your account, then linked to the repository. So I think it probably needs to be an organization who create the project. Time to create RoboSats org and move this repo? :smile:

[2022-10-08 03:44] redphix commented on #266
Yup! :) Was gonna give you the suggestion earlier as well, but slipped my mind.

[2022-10-10 12:40] #258 closed

[2022-10-11 00:27] OSFr0g opened #278 "Bugs/Issues found in Robosats v0.2.1 Alpha Android app"
I've been testing the wrong version the previous hours.

Edit: After some testing, I found 2 minor issues. Will continue testing tomorrow, tor is dead now.

### **Describe the bug**
- Download robot info button does not work in the main page
![IMG_20221011_032707.jpg](https://user-images.githubusercontent.com/108383157/194977016-34c89580-9a66-4f5b-a89f-82a77f5bb035.jpg)
- When disabling stealth in

[2022-10-11 07:36] dbolser commented on #39
As you say, it would be the RoboSats server. The server signs a message
that represents 1 reputation token and sends it to the user (perhaps in the
form of a QR code?). Now there is a bit of missing tech (browser plugn or
app) whereby the user encrypts the signed message and stores it somewhere.
When the user creates a new identity, there is an option to 'deposit trust
tokens' when creating an off

[2022-10-12 18:09] kristapsk opened #280 "Treat premium / discount over market differently with BUY vs SELL"
Currently both with BUY and SELL orders you specify premium / discount one way - positive values for BTC/fiat price above market rate, negative values for below.

IMHO it would make more sense to treat them differently with BUY and SELL orders, as usually when being market maker, you want to make some money, so with BUY orders RoboSats could treat positive values as discount below market rate, ins

[2022-10-13 17:31] errornullvoid opened #282 "Stronger privacy for invoice descriptions"
[]

[2022-10-13 18:46] kristapsk opened #283 "UX suggestion - changing title bar as additional event notification (in addition to ring)"
When other party takes your order, there is a bell (audio) notification. But in Tor Browser by default NoScript disables media playback, so user will not notice that, unless manually confirming specific media file. Instead there is just this following error popup:
![image](https://user-images.githubusercontent.com/4500994/195679988-7d61da20-26ef-4840-994f-41502a408fcd.png)

Would be cool to have s

[2022-10-13 20:26] Reckless-Satoshi commented on #283
Changing the page title is a very clever way to bring the user attention. I think using some bright/colorful emojis for each state and making them blink will do the job very well. In addition to that, bringing push notifications to the native Android app is the best way to go.

And indeed, NoScript blocks sound notifications https://github.com/Reckless-Satoshi/robosats/issues/41 . Experiene so far

[2022-10-13 20:32] kristapsk commented on #283
For me it's blocked by default (on Gentoo Linux, but not installed from OS packages).

[2022-10-13 21:48] KoalaSat commented on #261
ok so bad news, given the actual implementation of react-native-tor websockets are not possible. They implemented a TCP connection for an specific request made by Bluewallet, but their goal was to use it to connect to Electrum. I was too ingenious to believe a websocket was just a TCP connection with steroids, it's not, and this post explains it very well https://stackoverflow.com/questions/149282

[2022-10-14 12:07] Reckless-Satoshi commented on #282
Hey @tiddymasher that's a lot for bringing this concern and offering a hand!

Well, this discussion has already taken place, the work has been done and what you currently see live is the solution: see #168 and #210.

Stealth invoices are in fact now the default. Senders nodes will always know they are sending Sats to RoboSats, it is unavoidable: Bolt11 encodes for the Node ID of the receiver (Robo

[2022-10-14 12:19] Reckless-Satoshi commented on #237
This feature has already been merged as part of the new MakerPage component #265

The frontend will match the MakerForm with the Order book in the state and offer up to 4 orders to select from if there is a match in: currency, trade direction, amount and payment methods.

[2022-10-14 12:19] #237 closed

[2022-10-14 14:40] tiddymasher commented on #282
Yeah I understand at a certain point sender nodes can see where its going. I think my main point is to try and make it less obvious where possible with description-less invoices that way it isn't _immediately_ obvious. Currently, most employee of a KYC exchange could identify robosats users at a glance, however the inner details of a LN invoice transaction are typically only accessible through the

[2022-10-14 17:53] Reckless-Satoshi commented on #282
True that. Though it rather depends on how they parse the invoice info. I would take for granted they also have a field with the Alias of the node the transition goes to and probably the route it took (all node alias  hop by hop). It might be key to debug / help customers.

Again, the only way to actually be private is to do your own routing (do not use that service, but your own node).

Of course

[2022-10-16 21:11] #175 closed

[2022-10-20 14:56] ra5pvt1n opened #294 "Android app UI issues (including Chinese-specific issues)"
**Describe the bug**
"You can add new methods" appears in English, seems to be the case for some languages but not others. This is probably because the key-value pair in en.json is "You can add any method" and should be updated. I can do this later if needed.

**To Reproduce**
Steps to reproduce the behavior:
1. Change locale to another language
2. Click on 'Create Order'
3. Click on  'Fiat Paymen

[2022-10-22 15:13] Reckless-Satoshi commented on #294
Very useful @ra5pvt1n , we'll be looking into these issues!

[2022-10-24 15:03] Reckless-Satoshi commented on #177
Hey guys,

It's time to get moving and start writing code towards RoboSats PRO. I am very excited, I think we can build something fun and powerful here.

## The setup
I have initialized the `/pro` route and created a basic framework for the app with placeholders for the components we need. The current plan is to very strongly reuse and share components with RoboSats Basics. I think the idea of a f

[2022-10-24 15:17] Reckless-Satoshi opened #302 "PRO: Robot Garage component and main PRO data model."
*This is an excerpt of main thread for RoboSats PRO* https://github.com/Reckless-Satoshi/robosats/issues/177#issuecomment-1289175371

### Robot Garage (aka "my robots & orders table")
This component is the core of PRO. It is a table where each row shows a robot with it's active order. We can each row a "slot" in our "garage".

This component needs a new data model: "Garage". A Robot Garage can be

[2022-10-24 15:19] Reckless-Satoshi opened #303 "PRO & Basic: TradeBox and OrderPage functional components."
*This is an excerpt of main thread for RoboSats PRO* https://github.com/Reckless-Satoshi/robosats/issues/177#issuecomment-1289175371

We need to turn the current `/src/components/TradeBox` into a reusable functional component that makes use of the new `Trade` type `/src/models/trade.model.ts` (read above). This component is currently used on the `OrderPage` of RoboSats Basic, therefore this work w

[2022-10-24 15:21] Reckless-Satoshi opened #304 "PRO: Toolbar component."
*This is an excerpt of main thread for RoboSats PRO* https://github.com/Reckless-Satoshi/robosats/issues/177#issuecomment-1289175371

### Toolbar for RoboSats PRO
A simple component with a few buttons and selectables to: Import / Export a workspace (all: Garage/Layout/Settings/Maker models), add/remove widgets to the viewport and freeze/unfreeze the widgets. Adding and removing widgets via "drag a

[2022-10-24 19:41] Reckless-Satoshi commented on #204
I slowly started to transform RoboSats components and by now we have the new BookTable and Makerform as well as a new framework #289. These new components are embedded into the BookPage and the MakerPage. To complete the redesign we will need to create the new RobotPage, a SettingsPage and a Navigation bar. I will have ready the SettingsPage and NavBar in the next couple of weeks max. So the only

[2022-10-24 19:42] Reckless-Satoshi commented on #204
Let's share the UI design reward between both contributors @domrishe and @BrodaDemi .

Very arbitrarily we could split the 300K into 250K for @BrodaDemi and 50K Sats for @domrishe. Please submit a LN invoice with a long expiration time from a proxy node pubkey :rocket:

[2022-10-24 23:04] n-ochs commented on #204
I would still love to take on this task.

Just throwing it out there: if needed, I can turn any class component into functional and/or JS file into TS. I'm very comfortable with React TS + MUI.

Please let me know when I can branch off and start. @Reckless-Satoshi

Thanks!

[2022-10-25 08:41] Reckless-Satoshi commented on #204
Feel free to start whenever you want! :rocker: Let me know if you have any question. We can open a dedicated thread for this task.

In case you want to look into other components that need JS -> functional TS work look into the OrderPage/TradeBox #303 or the other RoboSats PRO components that are planned https://github.com/Reckless-Satoshi/robosats/issues/177#issuecomment-1289175371

[2022-10-26 01:15] lnproxy commented on #282
Could be a good idea to recommend that users of custodial KYC wallets wrap robosats invoices before paying them so that their custodians are not able to figure out that payments are going to robosats.

[2022-10-26 12:19] Reckless-Satoshi commented on #282
One more reason for the built-in "Use lnproxy" form.

[2022-10-30 11:05] Reckless-Satoshi commented on #204
@domrishe PR https://github.com/Reckless-Satoshi/robosats/pull/308 introduces the new Navigation Bar. It also refactors and makes it cleaner the login process in the old UserGenPage. If you started working on this component is worth rebasing to add those commits. I will keep testing it but will be merged in a similar form to what there is now. Also feel free to join us in our dev group https://mat

[2022-10-31 22:20] Reckless-Satoshi commented on #303
After finishing the new Navigation Bar I will slowly start to work on this task. If anyone is interested on taking this task I am happy to jump into something else. See live progress in PR #309 . Feel free to jump in!

[2022-11-06 11:09] kristapsk opened #314 "Keeping idling Tor Browser open for few hours leaves RoboSats in inconsistent state"
Had previously successfully created order, later cancelled it (because going to sleep) and kept it in "order have been cancelled" page or whatever was exact message directly after cancelling order. Then Tor Browser was idling for around 8 hours. When trying to create order again, it seems to be in inconsistent stage, where it allows to fill in form (and remembers old values), after pressing "Creat

[2022-11-06 12:57] Reckless-Satoshi commented on #314
Thanks for reporting!

Seems related to a mix of new and old features. Your robot died during the night (inactive robots are deleted at midnight to avoid growing the app size of the coordinator), yet the frontend had not been refreshed (so it believed to be logged in... but it was not! The session and "user" had been deleted!). Re entering the token solves the issue as you are effectively creating

[2022-11-20 13:46] KoalaSat commented on #302
Hey @Reckless-Satoshi I think I can start having a look to this one, I remember there was some work on mockups  but not sure if they were finished, do we have something?

[2022-11-21 09:35] Reckless-Satoshi commented on #302
That's awesome!

There are no mockups for the Robot Garage component itself at the moment. But @dsitti made a first rendition of it as "My robots and orders" in his Figma drafts https://github.com/Reckless-Satoshi/robosats/issues/177#issuecomment-1196018522

[2022-11-21 12:56] #303 closed

[2022-11-21 12:56] #283 closed

[2022-11-21 12:59] Reckless-Satoshi commented on #283
The new Notification component will make the tab blink with a custom message for every notification type. The blinking page title will only fire if the user is in another tab (it will not fire if the tab is on focus and the user is in another application). On user return to page, the blinking will stop. There are new notifications for "User has rewards" and "There is a new message in the chat". Al

[2022-11-27 04:18] Giszmo opened #331 "/offers is a blank page"
**Describe the bug**

When I navigate to http://robosats6tkf3eva7x2voqso3a5wcorsnw34jveyxfqi2fu7oyheasid.onion and click on offers, I just get a blank page.

**To Reproduce**

1. Open Tor Browser
2. Navigate to http://robosats6tkf3eva7x2voqso3a5wcorsnw34jveyxfqi2fu7oyheasid.onion
3. Click on "offers"
4. See blank page

**Details**

The dev console already show issues on the landing page:

![Screen

[2022-11-27 20:42] Reckless-Satoshi commented on #331
Hey @Giszmo, thanks for reporting. A bit puzzled about this one, specially give the fact that it seems to happen in several of your devices and browsers, yet no one else has reported to be affected almost a day later.

Can we start by making sure to have the latest frontend by clearing browser cache. Usually Ctrl+Shift+R will do a force refresh.

[2022-11-28 17:04] Giszmo commented on #331
It happens in my TOR browser for Linux:
11.5.8 (based on Mozilla Firefox 91.13.0esr) (64-bit)

I did not test other tor browsers.

Clearing cache did not help. I did see the page rendered with some "error occurred" message in the center though. After reloading again it is now showing main div with empty app div and the same console spammed with this error above.